@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e2k30o');
  src:  url('fonts/icomoon.eot?e2k30o#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?e2k30o') format('truetype'),
    url('fonts/icomoon.woff?e2k30o') format('woff'),
    url('fonts/icomoon.svg?e2k30o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bbq_black:before {
  content: "\e910";
}
.icon-read1:before {
  content: "\e911";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-rub:before {
  content: "\e90f";
}
.icon-assistance:before {
  content: "\e900";
}
.icon-cancel:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-check-small:before {
  content: "\e904";
}
.icon-like:before {
  content: "\e905";
  color: #4d4d4d;
}
.icon-dislike:before {
  content: "\e906";
  color: #4d4d4d;
}
.icon-pencil:before {
  content: "\e907";
  color: #157efb;
}
.icon-send:before {
  content: "\e908";
  color: #515151;
}
.icon-spinner:before {
  content: "\e909";
}
.icon-map:before {
  content: "\e90a";
}
.icon-bell:before {
  content: "\e90b";
}
.icon-telephone-1:before {
  content: "\e90c";
}
.icon-telephone-2:before {
  content: "\e90d";
}
