.popup-ask-bq {
    display: none;
    width: 100%;
    position: absolute;
    top: -105px;
    left: 0;
    font-size: 14px;
    color: #919191;
    line-height: 20px;
    padding: 22px 30px;
    background-color: #ffffff;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.2)
}
.active-popup-greeting-bq .f-svg{
    background: transparent;
}
.popup-greeting-bq {
    display: none;
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
    font-size: 14px;
    color: #919191;
    line-height: 20px;
    padding: 36px 30px 21px;
    background-color: #ffffff;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.2)
}

@media all and (max-width: 767px) {
    .popup-greeting-bq {
        display: none !important
    }
}

.popup-greeting-bq .form-bq {
    display: block;
    margin-top: 21px;
    padding-bottom: 0
}

.chat-bq {
    width: 340px;
    font-size: 15px;
    font-family: "Arial";
    font-weight: 400;
    position: fixed;
    right: 20px;
    bottom: 0;
    padding-bottom: 15px
}

.chat-bq.left-pos-bq {
    right: auto;
    left: 20px
}

.chat-bq.left-pos-bq.closed-bq {
    left: auto;
    right: calc(100% - 358px)
}

.chat-bq * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

/*.chat-bq *::-moz-selection {*/
    /*background: rgba(255, 255, 255, 0.2)*/
/*}*/

/*.chat-bq *::selection {*/
    /*background: rgba(255, 255, 255, 0.2)*/
/*}*/

.chat-bq.active-popup-ask-bq .popup-ask-bq {
    display: block
}

.chat-bq.active-popup-greeting-bq .popup-greeting-bq {
    display: block
}

.chat-bq .header-bq {
    height: 84px;
    overflow: hidden;
    position: relative
}
.nicescroll-visible .header-bq .icon-bq.active-bq .pic-bq:after {display: none;}
.chat-bq .header-bq:after {
    opacity: 1;
    visibility: visible;
    -webkit-transition: ease opacity 0.2s, ease visibility 0.2s;
    -o-transition: ease opacity 0.2s, ease visibility 0.2s;
    transition: ease opacity 0.2s, ease visibility 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 52%, rgba(255, 255, 255, 0.4) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 52%, rgba(255, 255, 255, 0.4) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 52%, rgba(255, 255, 255, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#66ffffff', GradientType=1)
}

.chat-bq .header-bq .btn-bq {
    opacity: 1;
    visibility: visible;
    width: 62px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    cursor: pointer
}

.chat-bq .header-bq .btn-bq:after {
    width: 23px;
    height: 6px;
    content: '';
    position: absolute;
    top: 21px;
    right: 20px;
    border-radius: 3px;
    background-color: #fff
}

.chat-bq .header-bq .icon-bq {
    width: 63px;
    height: 63px;
    float: left;
    margin: 11px 0 0 20px;
    position: relative
}

.chat-bq .header-bq .icon-bq.active-bq:after {
    position: absolute;
    bottom: 0;
    right: 4px;
    content: '';
    z-index: 3000;
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #41f971;
    border: 1px solid #ffffff
}

.chat-bq .header-bq .icon-bq.active-bq .pic-bq {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    overflow: hidden;
    position: relative
}

.chat-bq .header-bq .icon-bq.active-bq .pic-bq:after {
    content: ' ';
    position: absolute;
    height: 200%;
    width: 200%;
    top: 0;
    left: 0;
    z-index: 2;
    -webkit-animation: moveafter 3s infinite linear;
    -moz-animation: moveafter 3s infinite linear;
    animation: moveafter 3s infinite linear;
    background: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(45%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(55%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 45%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0) 55%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1)
}

.chat-bq .header-bq .icon-bq.active-bq .pic-bq img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: rotateX(5deg) rotateY(-5deg) rotateZ(-1deg)
    }
    25% {
        -webkit-transform: rotateX(5deg) rotateY(5deg) rotateZ(0deg)
    }
    50% {
        -webkit-transform: rotateX(-5deg) rotateY(5deg) rotateZ(1deg)
    }
    75% {
        -webkit-transform: rotateX(-5deg) rotateY(-5deg) rotateZ(0deg)
    }
    100% {
        -webkit-transform: rotateX(5deg) rotateY(-5deg) rotateZ(-1deg)
    }
}

@-moz-keyframes move {
    0% {
        -moz-transform: rotateX(15deg) rotateY(-15deg) rotateZ(-3deg)
    }
    25% {
        -moz-transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg)
    }
    50% {
        -moz-transform: rotateX(-15deg) rotateY(15deg) rotateZ(3deg)
    }
    75% {
        -moz-transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg)
    }
    100% {
        -moz-transform: rotateX(15deg) rotateY(-15deg) rotateZ(-3deg)
    }
}

@keyframes move {
    0% {
        transform: rotateX(15deg) rotateY(-15deg) rotateZ(-3deg)
    }
    25% {
        transform: rotateX(15deg) rotateY(15deg) rotateZ(0deg)
    }
    50% {
        transform: rotateX(-15deg) rotateY(15deg) rotateZ(3deg)
    }
    75% {
        transform: rotateX(-15deg) rotateY(-15deg) rotateZ(0deg)
    }
    100% {
        transform: rotateX(15deg) rotateY(-15deg) rotateZ(-3deg)
    }
}

@-webkit-keyframes moveafter {
    0% {
        top: 100%;
        left: 100%
    }
    50% {
        top: -100%;
        left: -100%
    }
    100% {
        top: -200%;
        left: -200%
    }
}

@-moz-keyframes moveafter {
    0% {
        top: 100%;
        left: 100%
    }
    50% {
        top: -100%;
        left: -100%
    }
    100% {
        top: -100%;
        left: -100%
    }
}

@keyframes moveafter {
    0% {
        top: 100%;
        left: 100%
    }
    50% {
        top: -100%;
        left: -100%
    }
    100% {
        top: -100%;
        left: -100%
    }
}

.chat-bq.closed-bq .header-bq .icon-bq.typing-bq .wrp-load-bq {
    opacity: 1;
    visibility: visible
}

.chat-bq .header-bq .icon-bq.typing-bq .pic-bq:after {
    display: none
}

.chat-bq .header-bq .icon-bq .notice-bq {
    width: 22px;
    height: 22px;
    background: #ed2828;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: -3px;
    left: 9px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-bq .header-bq .icon-bq .notice-bq .looped-bq {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: ease opacity 0.2s, ease visibility 0.2s;
    -o-transition: ease opacity 0.2s, ease visibility 0.2s;
    transition: ease opacity 0.2s, ease visibility 0.2s
}

.chat-bq .header-bq .icon-bq .notice-bq .looped-bq.active-bq {
    opacity: 1;
    visibility: visible
}

.chat-bq .header-bq .icon-bq .notice-bq .count-bq {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chat-bq .header-bq .icon-bq .notice-bq .bell-bq {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.chat-bq .header-bq .icon-bq .notice-bq .bell-bq span {
    -webkit-animation: ring 5s .7s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 5s .7s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 5s .7s ease-in-out infinite;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-bq .header-bq .icon-bq .notice-bq .bell-bq span svg {
    display: block;
    fill: #ffffff;
    height: 12px;
    width: 12px;
}

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotateZ(0)
    }
    1% {
        -webkit-transform: rotateZ(30deg)
    }
    3% {
        -webkit-transform: rotateZ(-28deg)
    }
    5% {
        -webkit-transform: rotateZ(34deg)
    }
    7% {
        -webkit-transform: rotateZ(-32deg)
    }
    9% {
        -webkit-transform: rotateZ(30deg)
    }
    11% {
        -webkit-transform: rotateZ(-28deg)
    }
    13% {
        -webkit-transform: rotateZ(26deg)
    }
    15% {
        -webkit-transform: rotateZ(-24deg)
    }
    17% {
        -webkit-transform: rotateZ(22deg)
    }
    19% {
        -webkit-transform: rotateZ(-20deg)
    }
    21% {
        -webkit-transform: rotateZ(18deg)
    }
    23% {
        -webkit-transform: rotateZ(-16deg)
    }
    25% {
        -webkit-transform: rotateZ(14deg)
    }
    27% {
        -webkit-transform: rotateZ(-12deg)
    }
    29% {
        -webkit-transform: rotateZ(10deg)
    }
    31% {
        -webkit-transform: rotateZ(-8deg)
    }
    33% {
        -webkit-transform: rotateZ(6deg)
    }
    35% {
        -webkit-transform: rotateZ(-4deg)
    }
    37% {
        -webkit-transform: rotateZ(2deg)
    }
    39% {
        -webkit-transform: rotateZ(-1deg)
    }
    41% {
        -webkit-transform: rotateZ(1deg)
    }
    43% {
        -webkit-transform: rotateZ(0)
    }
    100% {
        -webkit-transform: rotateZ(0)
    }
}

@-moz-keyframes ring {
    0% {
        -moz-transform: rotate(0)
    }
    1% {
        -moz-transform: rotate(30deg)
    }
    3% {
        -moz-transform: rotate(-28deg)
    }
    5% {
        -moz-transform: rotate(34deg)
    }
    7% {
        -moz-transform: rotate(-32deg)
    }
    9% {
        -moz-transform: rotate(30deg)
    }
    11% {
        -moz-transform: rotate(-28deg)
    }
    13% {
        -moz-transform: rotate(26deg)
    }
    15% {
        -moz-transform: rotate(-24deg)
    }
    17% {
        -moz-transform: rotate(22deg)
    }
    19% {
        -moz-transform: rotate(-20deg)
    }
    21% {
        -moz-transform: rotate(18deg)
    }
    23% {
        -moz-transform: rotate(-16deg)
    }
    25% {
        -moz-transform: rotate(14deg)
    }
    27% {
        -moz-transform: rotate(-12deg)
    }
    29% {
        -moz-transform: rotate(10deg)
    }
    31% {
        -moz-transform: rotate(-8deg)
    }
    33% {
        -moz-transform: rotate(6deg)
    }
    35% {
        -moz-transform: rotate(-4deg)
    }
    37% {
        -moz-transform: rotate(2deg)
    }
    39% {
        -moz-transform: rotate(-1deg)
    }
    41% {
        -moz-transform: rotate(1deg)
    }
    43% {
        -moz-transform: rotate(0)
    }
    100% {
        -moz-transform: rotate(0)
    }
}

@keyframes ring {
    0% {
        transform: rotate(0)
    }
    1% {
        transform: rotate(30deg)
    }
    3% {
        transform: rotate(-28deg)
    }
    5% {
        transform: rotate(34deg)
    }
    7% {
        transform: rotate(-32deg)
    }
    9% {
        transform: rotate(30deg)
    }
    11% {
        transform: rotate(-28deg)
    }
    13% {
        transform: rotate(26deg)
    }
    15% {
        transform: rotate(-24deg)
    }
    17% {
        transform: rotate(22deg)
    }
    19% {
        transform: rotate(-20deg)
    }
    21% {
        transform: rotate(18deg)
    }
    23% {
        transform: rotate(-16deg)
    }
    25% {
        transform: rotate(14deg)
    }
    27% {
        transform: rotate(-12deg)
    }
    29% {
        transform: rotate(10deg)
    }
    31% {
        transform: rotate(-8deg)
    }
    33% {
        transform: rotate(6deg)
    }
    35% {
        transform: rotate(-4deg)
    }
    37% {
        transform: rotate(2deg)
    }
    39% {
        transform: rotate(-1deg)
    }
    41% {
        transform: rotate(1deg)
    }
    43% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(0)
    }
}

.chat-bq .header-bq .icon-bq .notice-bq.hide-bq {
    display: none
}

.chat-bq .header-bq .greeting-bq {
    float: left;
    width: calc(100% - 84px);
    color: #fff;
    margin-top: 11px;
    padding: 10px 10px 13px 20px;
    border-radius: 35px;
}

@media all and (max-width: 767px) {
    .chat-bq .header-bq .greeting-bq {
        width: calc(100% - 113px)
    }
}

.chat-bq .header-bq .greeting-bq span {
    display: block
}

.chat-bq .header-bq .greeting-bq span:first-child {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 7px
}

.chat-bq .header-bq .greeting-bq span:last-child {
    font-size: 12px;
    line-height: 12px
}

.chat-bq.closed-bq .btn-bq {
    opacity: 0;
    height: 0;
    visibility: hidden
}

.chat-bq.closed-bq .header-bq {
    background-color: transparent;
    cursor: pointer;
    height: 94px;
    -webkit-transition: ease transform 0.3s;
    -o-transition: ease transform 0.3s;
    transition: ease transform 0.3s
}

.chat-bq.closed-bq .header-bq:hover {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px)
}



@media all and (min-width: 768px) {
    .chat-bq.closed-bq .header-bq:hover .greeting-bq {
        -webkit-box-shadow: 0 10px 17px -10px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0 10px 17px -10px rgba(0, 0, 0, 0.65);
        box-shadow: 0 10px 17px -10px rgba(0, 0, 0, 0.65);
        opacity: 0.8
    }
    .chat-bq.closed-bq .header-bq:hover .pic-bq {
        -webkit-box-shadow: 0 10px 10px -10px #000;
        -moz-box-shadow: 0 10px 10px -10px #000;
        box-shadow: 0 10px 10px -10px #000;
    }
    .chat-bq.closed-bq .pic-bq {
        -webkit-transition: box-shadow 0.3s;
        -o-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s
    }
    .chat-bq.closed-bq .greeting-bq {
        -webkit-transition: box-shadow 0.3s, opacity 0.3s;
        -o-transition: box-shadow 0.3s, opacity 0.3s;
        transition: box-shadow 0.3s, opacity 0.3s
    }
}

.chat-bq.closed-bq .header-bq:after {
    opacity: 0;
    visibility: hidden
}

.chat-bq.closed-bq .icon-bq {
    margin-left: 0
}

.chat-bq.closed-bq .greeting-bq {
    margin-left: 10px;
    padding-left: 30px;
    position: relative;
    /*background-color: #eb9841*/
}

.chat-bq.closed-bq .greeting-bq:before {
    position: absolute;
    top: 50%;
    left: -4px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    content: '';
    width: 0;
    height: 0;
    /*border-right: 6px solid #eb9841;*/
    border-left: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent
}

.chat-bq.closed-bq .greeting-bq:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 52%, rgba(255, 255, 255, 0.4) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 52%, rgba(255, 255, 255, 0.4) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 52%, rgba(255, 255, 255, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#66ffffff', GradientType=1);
    border-radius: 30px
}

.chat-bq.closed-bq .wrap-content-bq {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: ease opacity 0.7s, ease visibility 0.7s;
    -o-transition: ease opacity 0.7s, ease visibility 0.7s;
    transition: ease opacity 0.7s, ease visibility 0.7s
}

.chat-bq.closed-bq .main-bq {
    max-height: 94px
}

.chat-bq.static {
    position: fixed;
    top: auto;
    bottom: 0
}

.chat-bq .nicescroll-rails {
    display: none !important
}

.nicescroll-rails {
    left: auto !important;
    right: 2px !important;
}

.chat-bq.nicescroll-visible .nicescroll-rails-vr {
    display: block !important
}

.chat-bq audio {
    height: 0;
    width: 0
}

.chat-bq .info-popup-bq {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    z-index: 9999;
}

.chat-bq .info-popup-bq.hidden-bq {
    display: none
}

.chat-bq .info-popup-bq .inf-wrap-bq {
    background-color: #ffffff;
    max-width: 742px;
    margin: auto;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    padding: 50px 54px 30px;
    overflow-y: scroll;
    max-height: 80%;
}

@media all and (max-width: 767px) {
    .chat-bq .info-popup-bq .inf-wrap-bq {
        top: 0;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        padding: 20px 15px 15px;
        max-height: 100%;
    }
    .chat-bq.nicescroll-visible.mobile-portrait-bq{
        top: 0;
    }
    .chat-bq.nicescroll-visible.mobile-landscape-bq{
        top: 0;
    }
    .chat-bq .info-popup-bq .inf-wrap-bq .close-info-bq {
        top: 12px;
        right: 12px
    }
    .chat-bq .info-popup-bq .inf-wrap-bq .inf-h2-bq {
        font-size: 22px;
        line-height: 26px
    }
    .help-popup-bq .help-wrap-bq .close-help-bq {
        top: 6px;
        right: 12px
    }

    .help-popup-bq .help-wrap-bq .help-h2-bq {
        font-size: 18px;
        line-height: 24px
    }
}

.chat-bq .info-popup-bq .inf-wrap-bq .close-info-bq {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 18px;
    z-index: 1
}


.chat-bq .info-popup-bq .inf-wrap-bq .close-info-bq svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: #919191;
    cursor: pointer;
}

.chat-bq .info-popup-bq .inf-wrap-bq .inf-h2-bq {
    font-size: 28px;
    line-height: 38px;
    color: #555555;
    font-weight: 400;
    margin: 0 0 34px
}

.chat-bq .info-popup-bq .inf-wrap-bq .inf-cnt-bq p {
    font-size: 14px;
    line-height: 20px;
    color: #919191;
    padding-bottom: 25px;
    margin: 0
}

.chat-bq .info-popup-bq .inf-wrap-bq .inf-cnt-bq p strong {
    font-weight: 800
}

.help-popup-bq {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    z-index: 99999
}

.help-popup-bq.hidden-bq {
    display: none
}

@media all and (max-width: 1024px) {
    .help-popup-bq {
        display: none !important
    }
}

.help-popup-bq .help-wrap-bq {
    max-width: 430px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    padding: 40px 30px 30px;
    background-image: url("images/help-popup-bg.jpg");
    background-size: cover;
    background-position: center
}

.help-popup-bq .help-wrap-bq .close-help-bq {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 28px;
    z-index: 1
}

.help-popup-bq .help-wrap-bq .close-help-bq svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: #919191;
    cursor: pointer
}

.help-popup-bq .help-wrap-bq .help-img-bq {
    width: 106px;
    height: 106px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px
}

.help-popup-bq .help-wrap-bq .help-img-bq img {
    height: auto;
    width: 100%
}

.help-popup-bq .help-wrap-bq .help-h2-bq {
    font-size: 21px;
    line-height: 30px;
    color: #919191;
    font-weight: 500;
    margin: 0 0 34px;
    padding: 0 46px
}

.help-popup-bq .help-wrap-bq .btns-bq {
    margin: auto;
    text-align: center
}

.help-popup-bq .help-wrap-bq .btns-bq div {
    display: inline-block;
    margin: 0 20px;
    font-size: 21px;
    line-height: 62px;
    width: 126px;
    height: 62px;
    border-radius: 32px;
    cursor: pointer
}

.help-popup-bq .help-wrap-bq .btns-bq .yes-bq {
    /*background-color: #eb9841;*/
    color: #ffffff;
    transition: opacity .2s ease-out;
    position: relative
}

.help-popup-bq .help-wrap-bq .btns-bq .yes-bq:before {
    content: '';
    display: block;
    border-radius: 38px;
    width: 126px;
    height: 62px;
    /*border: 7px solid rgba(235, 152, 65, 0.4);*/
    z-index: 0;
    position: absolute;
    top: -7px;
    left: -7px;
    box-sizing: content-box;
}

.help-popup-bq .help-wrap-bq .btns-bq .yes-bq:after {
    content: '';
    display: block;
    border-radius: 45px;
    width: 140px;
    height: 76px;
    /*border: 7px solid rgba(235, 152, 65, 0.15);*/
    z-index: 0;
    position: absolute;
    top: -14px;
    left: -14px;
    box-sizing: content-box;
}


.help-popup-bq .help-wrap-bq .btns-bq .yes-bq:hover {
    opacity: .8;
}

.help-popup-bq .help-wrap-bq .btns-bq .no-bq {
    background-color: #eaeaea;
    transition: opacity .2s ease-out;
    color: #b3b3b3
}

.help-popup-bq .help-wrap-bq .btns-bq .no-bq:hover {
    opacity: .8;
}

.mobile-bq.closed-bq {
    width: 63px
}

.mobile-bq.closed-bq .greeting-bq {
    opacity: 0;
    visibility: hidden
}

.mobile-bq:not(.closed-bq) {
    right: 0;
    top: 0;
    bottom: 0;
    padding-bottom: 0;
    width: 100%
}

.left-pos-bq.mobile-bq:not(.closed-bq) {
    left: 0
}

.wrap-bq {
    overflow: hidden
}

.main-bq {
    overflow: hidden
}

.wrap-content-bq {
    opacity: 1;
    visibility: visible;
    -webkit-transition: ease opacity 0.7s, ease visibility 0.7s;
    -o-transition: ease opacity 0.7s, ease visibility 0.7s;
    transition: ease opacity 0.7s, ease visibility 0.7s
}

.header-bq {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

.wrp-load-bq {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: ease opacity 0.2s, ease visibility 0.2s;
    -o-transition: ease opacity 0.2s, ease visibility 0.2s;
    transition: ease opacity 0.2s, ease visibility 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fefaf5;
    border-radius: 50%;
    z-index: 3
}

.pic-load-bq, .pic-load-bq:before, .pic-load-bq:after {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.3s infinite ease-in-out;
    animation: load7 1.3s infinite ease-in-out
}

.pic-load-bq {
    /*color: #eb9841;*/
    font-size: 4px;
    margin: 18px 24px 18px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0) rotate(-21deg) scale(1);
    -ms-transform: translateZ(0) rotate(-21deg) scale(1);
    transform: translateZ(0) rotate(-21deg) scale(1);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s
}

.pic-load-bq:before, .pic-load-bq:after {
    content: '';
    position: absolute;
    top: 0
}

.pic-load-bq:before {
    left: -3.5em;
    -webkit-animation-delay: -0.22s;
    animation-delay: -0.22s
}

.pic-load-bq:after {
    left: 3.5em
}

@-webkit-keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em
    }
    40% {
        box-shadow: 0 2.5em 0 0
    }
}

@keyframes load7 {
    0%, 80%, 100% {
        box-shadow: 0 2.5em 0 -1.3em
    }
    40% {
        box-shadow: 0 2.5em 0 0
    }
}

.content-bq {
    background-color: #fff;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.cntr-bq {
    display: flex;
    height: 100%;
}

@media all and (min-width: 415px) {
    .content-bq {
        height: 334px
    }
}

.content-bq .top-bq {
    overflow: hidden;
    flex: 1;
}

.content-bq .bottom-bq {
    background-color: #fff;
    padding: 0 20px;
    position: relative
}

.reviews-bq {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #fff;
    padding: 10px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: ease opacity 0.2s, ease visibility 0.2s;
    -o-transition: ease opacity 0.2s, ease visibility 0.2s;
    transition: ease opacity 0.2s, ease visibility 0.2s
}

.reviews-bq div:nth-child(1) {
    color: #525252;
    font-size: 12px;
    float: left;
    padding: 16px 15px 0 20px
}

.reviews-bq:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    opacity: 0.07
}

.reviews-bq.active-bq {
    opacity: 1;
    visibility: visible
}

.thumbs-bq {
    background-color: #fff;
    float: left
}

.thumbs-bq span {
    display: inline-block;
    float: left;
    text-align: center;
    margin-right: 3px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: ease opacity 0.2s;
    -o-transition: ease opacity 0.2s;
    transition: ease opacity 0.2s
}

.thumbs-bq span:hover {
    opacity: 0.8
}

.thumbs-bq .like-bq {
    background-color: #74bc3a;
    position: relative
}
.thumbs-bq .like-bq svg,
.thumbs-bq .dislike-bq svg{
    font-size: 16px;
    color: #ffffff;
    fill: #ffffff;
    position: absolute;
    top: 14px;
    left: 13px
}

.thumbs-bq .dislike-bq {
    background-color: #eb4142;
    position: relative
}

.close-rev-bq {
    position: absolute;
    top: 0;
    right: 0;
    width: 21px;
    height: 21px;
    background-color: #e5e5e5;
    text-align: center;
    cursor: pointer;
    -webkit-transition: ease opacity 0.2s;
    -o-transition: ease opacity 0.2s;
    transition: ease opacity 0.2s
}

.close-rev-bq:hover {
    opacity: 0.6
}

.close-rev-bq svg {
    font-size: 11px;
    width: 11px;
    height: 11px;
    fill: #cfcfcf;
    position: absolute;
    top: 5px;
    left: 5px
}

.visible-bq {
    opacity: 1;
    visibility: visible
}

.message-bq {
    padding: 0 20px 10px;
    overflow: auto;
    position: relative;
    width: 100%;
    height: auto !important;
    min-height: 100%;
}

body.chat-bq-open {
    /* overflow: hidden;
   -webkit-overflow-scrolling: auto; */
} 

.chat-bq-block-scroll {
    position: fixed !important;
    height: 100% !important;
    width: 100% !important;
}

.date-bq {
    position: relative;
    text-align: center;
    padding: 13px 0 15px
}

.date-bq:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #dedede;
    position: absolute;
    top: 18px;
    left: 0;
    z-index: 0
}

.date-bq span {
    position: relative;
    z-index: 1;
    background-color: #fff;
    padding: 0 20px;
    color: #bfbfbf;
    font-size: 12px;
    line-height: 12px;
    display: inline-block
}

.ms-bq {
    margin-bottom: 3px
}

.ms-bq.left-bq {
    text-align: left;
    padding-right: 20px
}

.ms-bq.right-bq {
    text-align: right;
    padding-left: 20px;
    position: relative;
    margin-bottom: 3px
}
.left-bq > div {
    background-color: #f1f0f0!important;
    color: #222d38!important;
}

.ms-bq.right-bq:last-child.readed-bq > span {
    opacity: 1;
    visibility: visible
}

.ms-bq.right-bq.readed-bq > div {
    opacity: .7
}

.ms-bq.right-bq > div {
    word-break: break-word;
    text-align: left;
    -webkit-transition: ease opacity 0.2s;
    -o-transition: ease opacity 0.2s;
    transition: ease opacity 0.2s
}

.ms-bq.right-bq > span {
    position: absolute;
    bottom: -18px;
    right: 0;
    padding-right: 25px;
    font-style: italic;
    color: #d1d1d1;
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: ease opacity 0.2s, ease visibility 0.2s;
    -o-transition: ease opacity 0.2s, ease visibility 0.2s;
    transition: ease opacity 0.2s, ease visibility 0.2s
}

.ms-bq.right-bq > span svg{
    font-size: 19px;
    width: 21px;
    height: 21px;
    fill: #d1d1d1;
    position: absolute;
    top: -3px;
    right: 0;
    display: inline;
}

.ms-bq.alt-bq > div {
    border-radius: 10px;
    word-break: break-word;
}

.ms-bq > div {
    /*background-color: #eb9841;*/
    color: #fff;
    line-height: 21px;
    padding: 10px 20px;
    border-radius: 22px;
    display: inline-block
}

.ms-bq .time-bq {
    font-size: 12px;
    opacity: 0.5;
    padding-left: 18px;
    float: right
}

.write-bq {
    background-color: #fff;
    width: 100%;
    color: #868686;
    line-height: 18px;
    z-index: 1;
    -webkit-transition: ease opacity 0.2s, ease visibility 0.2s;
    -o-transition: ease opacity 0.2s, ease visibility 0.2s;
    transition: ease opacity 0.2s, ease visibility 0.2s
}

.write-bq .wrt-bq {
    position: relative;
    padding-left: 28px;
    opacity: 0;
    visibility: hidden;
}

.write-bq.active-bq .wrt-bq {
    opacity: 1;
    visibility: visible
}

.write-bq .wrt-bq svg {
    font-size: 21px;
    width: 21px;
    height: 20px;
    fill: #868686;
    margin-right: 8px;
    position: absolute;
    top: 0;
    left: 0
}

@keyframes blink {
    0% {
        opacity: .2
    }
    20% {
        opacity: 1
    }
    100% {
        opacity: .2
    }
}

.write-bq .wrt-bq span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both
}

.write-bq .wrt-bq span:nth-child(2) {
    animation-delay: .2s
}

.write-bq .wrt-bq span:nth-child(3) {
    animation-delay: .4s
}

input:active, input:focus {
    outline: 0
}

.form-bq {
    display: none;
    margin-bottom: 0;
    padding-bottom: 20px
}

.form-bq .inputs-bq {
    position: relative
}

.form-bq input {
    -webkit-appearance: none
}
.popup-greeting-bq .form-bq input:not(.submit-bq)::-webkit-input-placeholder {
    color: #919191;
    font-size: 13px!important;
}
.form-bq input:not(.submit-bq) {
    border: 2px solid #d8d8d8;
    border-radius: 20px;
    font-size: 15px;
    color: #222d38;
    padding: 0px 45px 0px 18px;
    width: 100%;
    height: 34px;
}
.form-bq.msg-form-bq input:not(.submit-bq)::-webkit-input-placeholder,
.form-bq.name-form-bq input:not(.submit-bq)::-webkit-input-placeholder,
.form-bq.location-form-bq input:not(.submit-bq)::-webkit-input-placeholder,
.form-bq.email-form-bq input:not(.submit-bq)::-webkit-input-placeholder
{
    color: #919191;
    font-size: 13px!important;
}

.form-bq.msg-form-bq input:not(.submit-bq)::-moz-placeholder,
.form-bq.name-form-bq input:not(.submit-bq)::-moz-placeholder,
.form-bq.location-form-bq input:not(.submit-bq)::-moz-placeholder,
.form-bq.email-form-bq input:not(.submit-bq)::-moz-placeholder
/*.form-bq input:not(.submit-bq)::-moz-placeholder */
{
    color: #919191;
   	font-size: 13px!important;
}

.form-bq.msg-form-bq input:not(.submit-bq):-ms-input-placeholder,
.form-bq.name-form-bq input:not(.submit-bq):-ms-input-placeholder,
.form-bq.location-form-bq input:not(.submit-bq):-ms-input-placeholder,
.form-bq.email-form-bq input:not(.submit-bq):-ms-input-placeholder
/*.form-bq input:not(.submit-bq):-ms-input-placeholder */
{
    color: #919191;
    font-size: 13px!important;
}

/*.form-bq.msg-form-bq input:not(.submit-bq)::placeholder,*/
/*.form-bq.name-form-bq input:not(.submit-bq)::placeholder,*/
/*.form-bq.location-form-bq input:not(.submit-bq)::placeholder,*/
/*.form-bq.email-form-bq input:not(.submit-bq)::placeholder*/
.phone-input-bq::placeholder
{
    font-size: 15px !important;
    color: #222d38 !important;
}
.phone-input-bq::-webkit-input-placeholder
{
    font-size: 15px !important;
    color: #222d38 !important;
}
.phone-input-bq:-moz-placeholder
{
    font-size: 15px !important;
    color: #222d38 !important;
}
.phone-input-bq:-ms-input-placeholder
{
    font-size: 15px !important;
    color: #222d38 !important;
}

.form-bq input.submit-bq {
    width: 45px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 2px;
    z-index: 3;
    background: transparent;
    border: 0;
    cursor: pointer;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%
}

.form-bq .f-svg {
    width: 45px;
    /* height: 34px; */
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    z-index: 1;
    background: transparent;
    border: 0;
    cursor: pointer;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-bq .f-svg svg {
    /* position: absolute;
    top: 9px;
    left: 15px; */
    font-size: 17px;
    color: #d8d8d8;
    width: 17px;
    height: 17px;
    fill: #d8d8d8;
}

.form-bq .f-svg path {
    fill: #d8d8d8;
}

.form-bq:not(.msg-form-bq) {
    /*background-color: #eb9841;*/
    background-image: url("images/bg-form.png");
    background-size: cover;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px
}

.form-bq:not(.msg-form-bq) input:not(.submit-bq) {
    border-color: transparent
}

.form-bq.current-bq {
    display: block
}

.form-bq .icn-bq {
    width: 100%;
    height: 28px;
    text-align: center
}

.form-bq .icn-bq svg {
    width: 26px;
    height: 26px;
    fill: #ffffff;
}

.form-bq .txt-bq {
    text-align: center;
    color: #ffffff;
    font-size: 21px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px
}

.form-bq .ex-bq {
    font-size: 12px;
    font-style: italic;
    color: #ffffff;
    opacity: 0.8;
    text-align: center;
    margin-top: 3px;
    margin-bottom: -17px
}

.budget-form-bq .txt-bq, .period-form-bq .txt-bq {
    font-size: 19px
}

.mobile-landscape-bq .form-bq .icn-bq {
    height: 0;
    overflow: hidden
}

.mobile-landscape-bq .form-bq .txt-bq {
    font-size: 16px
}

.not-valid-bq .submit-bq {
    pointer-events: none
}

.not-valid-bq .f-svg:after {
    color: #d8d8d8
}

.ex-bq {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: ease opacity 0.2s, ease visibility 0.2s;
    -o-transition: ease opacity 0.2s, ease visibility 0.2s;
    transition: ease opacity 0.2s, ease visibility 0.2s
}

.ex-bq.vis-bq {
    opacity: 1;
    visibility: visible
}

.loader-bq {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: ease opacity 0.2s, ease visibility 0.2s;
    -o-transition: ease opacity 0.2s, ease visibility 0.2s;
    transition: ease opacity 0.2s, ease visibility 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 3
}

.loader-bq.active-loader-bq {
    opacity: 1;
    visibility: visible
}

.loader-bq div:nth-child(1) {
    margin-top: 22px;
    font-size: 12px;
    color: #6e6d6d;
    width: 100%;
    text-align: center
}

.loader-bq .spin-bq {
    /*color: #eb9841;*/
    font-size: 20px;
    margin: 80px auto 100px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0) scale(0.8);
    -ms-transform: translateZ(0) scale(0.8);
    transform: translateZ(0) scale(0.8)
}

@-webkit-keyframes load4 {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em
    }
}

@keyframes load4 {
    0%, 100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em
    }
}

.footer-bq {
    border: 1px solid #dedede;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #fff;
    line-height: 41px;
    max-height: 43px;
    padding: 0 18px;
    -webkit-box-shadow: 0 8px 17px -10px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0 8px 17px -10px rgba(0, 0, 0, 0.65);
    box-shadow: 0 8px 12px -11px rgba(0, 0, 0, 0.65)
}

.footer-bq:after {
    content: '';
    display: block;
    clear: both;
    width: 100%
}

.footer-bq .terms-bq {
    display: inline-block
}

.footer-bq .terms-bq .open-pop-bq {
    font-size: 14px;
    color: #000000;
    opacity: 0.6;
    float: left;
    cursor: pointer;
    -webkit-transition: ease opacity 0.2s;
    -o-transition: ease opacity 0.2s;
    transition: ease opacity 0.2s
}

.footer-bq .terms-bq .open-pop-bq:hover {
    opacity: 1
}

.footer-bq .logo-bq {
    float: right;
    padding-top: 10px
}

.footer-bq .logo-bq a {
    position: relative;
    width: 31px;
    height: 21px;
    display: inline-block
}

.footer-bq .logo-bq a svg {
    font-size: 31px;
    width: 43px;
    height: 31px;
    fill: #000000;
    opacity: 0.4;
    -webkit-transition: ease opacity .3s;
    -o-transition: ease opacity .3s;
    transition: ease opacity .3s;
    position: absolute;
    top: -8px;
    left: 0;
}

.footer-bq .logo-bq a:hover svg{
    opacity: 1
}

.disable-msg-bq .wrap-sk-circle {
    display: flex
}

.disable-msg-bq .f-svg {
    display: none
}

.disable-msg-bq input {
    cursor: default;
    pointer-events: none
}

.wrap-sk-circle {
    position: absolute;
    top: 1px;
    right: 3px;
    z-index: 2;
    display: none;
    bottom: 2px;
    justify-content: center;
    align-items: center;
}

.sk-circle {
    margin: auto;
    width: 40px;
    height: 32px;
    position: relative;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5)
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #d8d8d8;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg)
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg)
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg)
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg)
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg)
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg)
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg)
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg)
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s
}

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@media all and (max-width: 767px) {
    .chat-bq {
        right: 0;
        top: 0;
        bottom: auto;
        padding-bottom: 0
    }

    .chat-bq:not(.closed-bq) .header-bq {
        height: 58px;
        max-height: 58px
    }

    .chat-bq .header-bq {
        border-radius: 0
    }

    .chat-bq .header-bq .icon-bq {
        margin-top: 6px;
        margin-left: 6px;
        width: 42px;
        height: 42px
    }

    .chat-bq .header-bq .icon-bq.active-bq:after {
        bottom: -2px;
        right: 2px
    }

    .chat-bq .header-bq .pic-load-bq {
        margin: 11px 16px;
        -webkit-transform: translateZ(0) rotate(-21deg) scale(0.6);
        -ms-transform: translateZ(0) rotate(-21deg) scale(0.6);
        transform: translateZ(0) rotate(-21deg) scale(0.6);
        -webkit-animation-delay: -0.16s
    }

    .chat-bq .header-bq .greeting-bq {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 8px
    }

    .chat-bq .header-bq .message-bq {
        width: 100%
    }

    .chat-bq .footer-bq {
        border-radius: 0
    }

    .chat-bq.closed-bq {
        right: auto;
        top: auto;
        bottom: 10px;
        left: calc(100% - 94px);
        width: 84px
    }

    .chat-bq.closed-bq .greeting-bq {
        opacity: 0;
        visibility: hidden
    }

    .chat-bq.closed-bq .popup-ask-bq, .chat-bq.closed-bq .popup-greeting-bq {
        top: 0
    }

    .chat-bq.closed-bq .popup-ask-bq {
        top: 8px;
        left: -216px;
        width: 204px;
        padding: 12px;
        text-align: center
    }

    .chat-bq.closed-bq .header-bq .icon-bq {
        margin-top: 10px;
        margin-left: 0;
        width: 84px;
        height: 84px
    }

    .chat-bq.closed-bq .header-bq .icon-bq.active-bq:after {
        bottom: 3px;
        right: 10px
    }

    .chat-bq.closed-bq .header-bq .pic-load-bq {
        margin: 30px 36px;
        -webkit-transform: translateZ(0) rotate(-21deg) scale(1.1);
        -ms-transform: translateZ(0) rotate(-21deg) scale(1.1);
        transform: translateZ(0) rotate(-21deg) scale(1.1)
    }

    .chat-bq.closed-bq .header-bq .pic-load-bq:before {
        left: -4.5em
    }

    .chat-bq.closed-bq .header-bq .pic-load-bq:after {
        left: 4.5em
    }
}

.pic-bq {
    border-radius: 50%
}

.pic-bq img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

@media (min-width: 0) and (max-width: 992px) {
    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    textarea {
        touch-action: none;
    }  
}

@media (min-width: 0) and (max-width: 767px) {
    .top-bq {
        height: auto !important;
    }
    .wrap-bq,
    .main-bq {
        height: 100% !important;
    }

    .main-bq {
        position: relative;
    }

    .content-bq {
        height: calc(100% - 43px) !important;
    }

    .mobile-landscape-bq .content-bq {
        height: 100% !important;
    }

    .wrap-content-bq {
        padding-top: 58px;
        height: 100% !important;
        position: relative;
    }

    .chat-bq .header-bq {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .wrap-content-bq {
        position: relative;
    }
}

.chat-bq,
.chqt-bq * {
    -webkit-tap-highlight-color: transparent !important;
}
.active-popup-greeting-bq input:not(.submit-bq) {
  padding: 0 18px;
}
.active-popup-greeting-bq .f-svg {
      background: transparent;
}