<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>tmp</title>
</head>
<body>
<noscript>
    <strong>We're sorry but tmp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<a href="?p=1">p1</a><br/>
<a href="?p=2">p2</a><br/>
<a href="?p=3">p3</a><br/>
<div id="app"></div>
<!-- вставьте этот код в конце тега <body></body> -->
<script> window.chat_bq_conf = {
    "chat": {
        "padding": {"vertical": "50", "horizontal": "20"},
        "activations": {"cold_clients": true, "autorun": true, "timeout": "15"},
        "color": "#a400ff",
        "position": "left"
    },
    "operator": {"name": "Руслан", "job": "Отдел по работе с клиентами", "avatar": "ruslan.png", "greetingMessage": 1},
    // "additional": {
    //     "CampaignID" : '9f266731',
    //     // 'AffiliateID' : '5cb6d6e41d6a2',
    //     'AffiliateID' : 'default',
    //     'bid' : '4f1f46c4',
    //     "Channel": "local",
    //     "Data1" : "alina0017",
    //     "Data2" : "bbq.info",
    //     "Data3" : "",
    //     "Data4" : "",
    //     "Data5" : "",
    //     "hcolor" : "333333",
    //     "bgc" : "FFFFFF",
    //     "btnc" : "EF8438",
    //     "width" : "100%",
    //     "formfont" : "ROBOTO",
    //     "shadow" : "NONE",
    //     "fontcolor" : "9E9E9E",
    //     "pos" : "ef7798e99ae052194bf42e85654b4a7f",
    //
    // }

    "additional": {
        "CampaignID": "77f6e16f",
        // "AffiliateID": "5cb6d6e41d6a2",
        "AffiliateID": "cc25fe65",
        "bid": "2e1fd899",
        "Channel": "",
        "Data1": "",
        "Data2": "",
        "Data3": "",
        "Data4": "",
        "Data5": ""
    }


}</script>
<script async src="<%= BASE_URL %>assets/js/getChat.js"></script>
<!-- built files will be auto injected -->

</body>
</html>



<!--&lt;!&ndash; вставьте этот код в конце тега <body></body> &ndash;&gt;-->
<!--<script> window.chat_bq_conf = {"chat":{"padding":{"vertical":"50","horizontal":"20"},"activations":{"cold_clients":true,"autorun":true,"timeout":"15"},"color":"#ffa500","position":"right"},"operator":{"name":"Алексей","job":"Архитектор-дизайнер интерьеров","avatar":"aleksei.png","greetingMessage":1},"additional":{"CampaignID":"77f6e16f","AffiliateID":"cc25fe65","bid":"2e1fd899","Channel":"","Data1":"","Data2":"http://google.com","Data3":"","Data4":"","Data5":""}}</script><script async src="https://webmaster.bbq.sale/forms/chat/assets/js/getChat.js"></script>-->