<template>
    <div class="footer-bq">
        <div class="terms-bq">
            <div class="open-pop-bq">Пользовательское соглашение</div>
        </div>
        <div class="logo-bq">
            <a href="https://bbq.sale" target="_blank">
                <icon-bbq></icon-bbq>
            </a>
        </div>
    </div>
</template>
<script>
    import IconBbq from './icons/IconBBQ'

    export default {
        components: {
            IconBbq
        }
    }
</script>