<template>
    <div class="notice-bq" v-show="show">
        <span class="count-bq looped-bq">{{unread}}</span>
        <span class="bell-bq looped-bq">
            <span>
                <icon-bell></icon-bell>
            </span>
        </span>
    </div>
</template>

<script>
    import IconBell from './icons/IconBell'

    export default {
        components: {
            IconBell
        },
        props: [
            'unread'
        ],

        computed: {
            show() {
                return this.unread > 0
            }
        },
        mounted(){
            $('.looped-bq').each(function (i) {
                var t = $(this);
                setTimeout(function () {
                    t.addClass('active-bq');
                    setTimeout(function () {
                        t.removeClass('active-bq');
                        if (i == $('.looped-bq').length - 1) chat_bq.bell_notice();
                    }, 5000);
                }, 5000 * i);
            });
        }
    }
</script>