<template>
    <div class="budget-form-bq form-bq">
        <div class="icn-bq">
            <icon-budget></icon-budget>
        </div>
        <div class="txt-bq">Укажите предполагаемый бюджет</div>
        <div class="inputs-bq">
            <slot></slot>
            <send-icon></send-icon>
        </div>
    </div>
</template>
<script>
    import SendIcon from './icons/SendIcon'
    import IconBudget from './icons/IconBudget'

    export default {
        components: {
            SendIcon,
            IconBudget
        }
    }
</script>