<template>
    <div class="period-form-bq form-bq">
        <div class="icn-bq">
            <icon-period></icon-period>
        </div>
        <div class="txt-bq">Укажите предполагаемую дату</div>
        <div class="inputs-bq">
            <slot></slot>
            <send-icon></send-icon>
        </div>
    </div>
</template>

<script>
    import SendIcon from './icons/SendIcon'
    import IconPeriod from './icons/IconPeriod'

    export default {
        components: {
            SendIcon,
            IconPeriod
        }
    }
</script>