<template>
    <div class="msg-form-bq form-bq current-bq">
        <div class="inputs-bq">
            <slot></slot>
            <send-icon></send-icon>
            <chat-spinner></chat-spinner>
        </div>
    </div>
</template>
<script>
    import ChatSpinner from './ChatSpinner'
    import SendIcon from './icons/SendIcon'

    export default {
        components: {
            ChatSpinner,
            SendIcon
        }
    }
</script>