<template>
    <div class="email-form-bq form-bq">
        <div class="icn-bq">
            <icon-email></icon-email>
        </div>
        <div class="txt-bq">Введите ваш e-mail</div>
        <div class="inputs-bq">
            <slot></slot>
            <send-icon></send-icon>
        </div>
        <div class="ex-bq ex-bq-1">Введите правильный адрес электронной почты</div>
        <div class="ex-bq ex-bq-2">Пожалуйста используйте латинские буквы</div>
    </div>
</template>

<script>
    import SendIcon from './icons/SendIcon';
    import IconEmail from './icons/IconMail'

    export default {
        components: {
            SendIcon,
            IconEmail
        }
    }
</script>