<template>
    <div class="popup-greeting-bq" v-if="greetings">


        <span @click="closeGreetings" class="popup-greeting-bq__close" style="
position: absolute;
width: 12px;
height: 12px;
top: 15px;
right: 15px;
cursor: pointer;
    fill: #919191;
">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.642 15.642"
                 xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 15.642 15.642">
                <path fill-rule="evenodd"
                      d="M8.882,7.821l6.541-6.541c0.293-0.293,0.293-0.768,0-1.061 c-0.293-0.293-0.768-0.293-1.061,0L7.821,6.76L1.28,0.22c-0.293-0.293-0.768-0.293-1.061,0c-0.293,0.293-0.293,0.768,0,1.061 l6.541,6.541L0.22,14.362c-0.293,0.293-0.293,0.768,0,1.061c0.147,0.146,0.338,0.22,0.53,0.22s0.384-0.073,0.53-0.22l6.541-6.541 l6.541,6.541c0.147,0.146,0.338,0.22,0.53,0.22c0.192,0,0.384-0.073,0.53-0.22c0.293-0.293,0.293-0.768,0-1.061L8.882,7.821z"></path>
            </svg>


        </span>

        <div class="ms-bq left-bq" v-for="message in messages" :key="message.index">
            <div>{{message.text}}</div>
        </div>
        <div class="msg-form-bq form-bq">
            <slot></slot>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                greetings: true
            }
        },
        computed: {
            messages() {
                return this.$store.getters.getGreetings;
            },
        },
        methods: {
            closeGreetings() {
                this.greetings = false;
            }
        }
    }
</script>