<template>
    <div class="help-popup-bq" v-show="isHelpVisible">
        <div class="help-wrap-bq">
            <slot name="discard"></slot>
            <div class="help-img-bq">
                <img :src="operatorAvatar" :alt="operator.name">
            </div>
            <div class="help-h2-bq">Не нашли что искали? Хотите наши специалисты помогут Вам?</div>
            <div class="btns-bq">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed: {
            operator() {
                return this.$store.getters.operator;
            },

            isHelpVisible(){
                return this.$store.getters.isHelpVisible;
            },
            operatorAvatar(){
                return 'https://webmaster.bbq.sale/forms/chat/configurator/uploads/'+this.operator.avatar;
            }
        },
    }
</script>