<template>
    <div class="location-form-bq form-bq">
        <div class="icn-bq">
            <icon-map></icon-map>
        </div>

        <div class="txt-bq">Укажите город</div>
        <div class="inputs-bq">
            <slot></slot>
            <send-icon></send-icon>
        </div>
        <div class="ex-bq vis-bq">Пример: Москва, проспект Вернадского, 12/2</div>
    </div>
</template>

<script>
    import SendIcon from './icons/SendIcon'
    import IconMap from './icons/IconMap'

    export default {
        components: {
            SendIcon,
            IconMap
        }
    }
</script>