<template>
    <div class="ms-bq" :class="{'right-bq' : isByUser, 'left-bq' : !isByUser, 'readed-bq' : hasRead}">
        <span v-if="isByUser">Прочитано &nbsp;<icon-check></icon-check>
        </span>
        <div>
            {{message.text}}
            <span class="time-bq">{{message.time}}</span>
        </div>
    </div>
</template>

<script>

    import IconCheck from './icons/IconCheck'

    export default {
        components: {
            IconCheck
        },
        name: 'Message',
        props: ['message'],
        computed: {
            isByUser() {
                return this.message.author === 'user';
            },
            hasRead() {
                return this.message.has_read;
            }
        }
    }
</script>