<template>
    <div class="top-bq">
        <div class="cntr-bq">
            <rating></rating>
            <div class="message-bq">
                <div class="loader-bq">
                    <div>Подождите секундочку, оператор подключается</div>
                    <div class="spin-bq"></div>
                </div>
                <div class="date-bq">
                    <span>{{currentDate}}</span>
                </div>
                <message v-for="message in messages" :message="message"
                         :key="message.index">
                </message>
            </div>
        </div>
    </div>
</template>

<script>
    import Rating from './Rating'
    import Message from './Message'
    import utils from '@/utils'

    export default {
        components: {
            Rating,
            Message
        },
        computed: {
            currentDate() {
                return utils.date();
            },
            messages(){
                return this.$store.getters.messages;
            }
        },
        mounted(){
            $(this.$el).find(".message-bq").niceScroll({
                nativeparentscrolling: true,
                cursorwidth: "5px",
                cursorcolor: "#d4d4d4",
                cursorborderradius: "0"
            });
        }
    }
</script>