<template>
    <div class="name-form-bq form-bq">
        <div class="icn-bq">
            <icon-assistance></icon-assistance>
        </div>
        <div class="txt-bq">Введите ваше имя</div>
        <div class="inputs-bq">
            <slot></slot>
            <send-icon v-on:send="$emit('send')"></send-icon>
        </div>
        <div class="ex-bq ex-bq-1">Введите ни менее 2 символов</div>
        <div class="ex-bq ex-bq-2">Пожалуйста используйте кириллицу для указания имени</div>
    </div>
</template>

<script>
    import SendIcon from './icons/SendIcon'
    import IconAssistance from './icons/IconAssistance'

    export default {
        components: {
            SendIcon,
            IconAssistance
        }
    }
</script>