<template>
    <div class="write-bq">
        <div class="wrt-bq">
            <icon-pencil></icon-pencil>
            {{operator.name}} печатает <span>.</span><span>.</span><span>.</span></div>
    </div>
</template>

<script>
    import IconPencil from './icons/IconPencil'

    export default {
        components: {
          IconPencil
        },
        computed:{
            operator(){
                return this.$store.getters.operator;
            }
        }
    }
</script>