<template>
    <div class="header-bq">
        <slot></slot>
        <div class="icon-bq" :class="{'active-bq' : operatorIsConnected}">
            <div class="pic-bq">
                <img style="border-radius: 50%" :src="operatorAvatar" :alt="operator.name" class="operator">
            </div>
            <div class="wrp-load-bq">
                <div class="pic-load-bq">Loading...</div>
            </div>
            <bell :unread.sync="unread"></bell>
        </div>
        <div class="greeting-bq">
            <span>{{operator.name}}</span>
            <span>{{operator.job}}</span>
        </div>
    </div>
</template>

<script>
    import Bell from './Bell'

    export default {
        computed: {
            operator(){
                return this.$store.getters.operator;
            },
            unread(){
                return this.$store.getters.unreadCountMessages;
            },
            operatorIsConnected(){
                return this.$store.getters.operatorIsConnected;
            },
            operatorAvatar(){
                return 'https://webmaster.bbq.sale/forms/chat/configurator/uploads/'+this.operator.avatar;
            }
        },
        components: {
            Bell
        }
    }
</script>