<template>
    <div class="phone-form-bq form-bq">
        <div class="icn-bq">
            <icon-phone></icon-phone>
        </div>
        <div class="txt-bq">Введите ваш телефон</div>
        <div class="inputs-bq">
            <slot></slot>
            <send-icon></send-icon>
        </div>
        <div class="ex-bq ex-bq-error">Введите правильно ваш номер телефона</div>
        <div class="ex-bq ex-bq-info vis-bq">Укажите мобильный номер телефона</div>
    </div>
</template>
<script>
    import SendIcon from './icons/SendIcon'
    import IconPhone from './icons/IconPhone'

    export default {
        name: 'PhoneInput',
        components: {
            SendIcon,
            IconPhone
        }
    }
</script>