<template>
    <div class="reviews-bq" v-if="canShowReviews" :class="{'active-bq' : canShowReviews}">
        <div>Оцените качество обслуживания</div>
        <div class="thumbs-bq">
            <span class="like-bq"  @click="closeReviews">
                <icon-like></icon-like>
            </span>
            <span @click="closeReviews" class="dislike-bq">
                <icon-dislike></icon-dislike>
            </span>
        </div>
        <span class="close-rev-bq" @click="closeReviews">
            <icon-cancel></icon-cancel>
        </span>
    </div>
</template>

<script>
    import {CLOSE_REVIEWS} from "../const";
    import IconLike from './icons/IconLike'
    import IconDislike from './icons/IconDislike'
    import IconCancel from './icons/IconCancel'

    export default {
        components: {
            IconLike,
            IconDislike,
            IconCancel
        },
        computed: {
            canShowReviews(){
                return this.$store.getters.canShowReviews;
            }
        },

        methods:{
            closeReviews(){
                this.$store.commit(CLOSE_REVIEWS);
            }
        }
    }
</script>