<template>
    <div class="info-popup-bq hidden-bq">
        <div class="inf-wrap-bq">
            <div class="close-info-bq">
                <icon-cancel></icon-cancel>
            </div>
            <div class="inf-h2-bq">Согласие на обработку персональных данных Пользователя данного веб-сайта</div>
            <div class="inf-cnt-bq">
                <p><strong>Оставляя заявку</strong> на оказание содействия в получении консультации и/или профильных
                    услуг в соответствии с подпунктом 9 части 1 статьи 6, частями 2 и 4 статьи 9, подпунктами 3 — 5
                    части 2 статьи 10, частями 1 и 2 статьи 11, частью 8 статьи 14 Федерального закона от 27 июля
                    2006 г. N 152-ФЗ «О персональных данных», <strong>настоящим вы подтверждаете свое согласие на
                        обработку ваших персональных данных</strong> администратором данного сайта</p>
                <p><strong>Персональными данными признаются:</strong> имя, номер телефона, адрес электронной почты,
                    город (иной населенный пункт) нахождения.</p>
                <p><strong>Целью обработки персональных данных</strong> является их передача третьим лицам –
                    компаниям, оказывающим (или организующим оказание) консультационные и/или профильные услуги, для
                    вашего взаимодействия с такими компаниями с целью удовлетворить запрос (решить проблему/задачу,
                    связанную с предоставлением профильных услуг).</p>
                <p>Для достижения вышеуказанных целей администратор Сайта осуществляет: получение,
                    автоматизированную статистическую обработку, использование для оформления и передачу
                    персональных данных лицам (компаниям), оказывающим (организующим оказание) консультационные
                    и/или профильные услуги.</p>
                <p><strong>Срок хранения обработанных персональных</strong> данных не превышает срок исполнения
                    обязанности по организации содействия в получении Вами услуг данного Веб-сайта.</p>
                <p><strong>Конфиденциальность предоставляемых персональных данных</strong> соответствует условиям,
                    указанным в статье 7 Федерального закона от 27 июля 2006 г. № 152-ФЗ «О персональных данных».
                </p>
            </div>
        </div>
    </div>
</template>
<script>
    import IconCancel from './icons/IconCancel'

    export default {
        components: {
            IconCancel
        }
    }
</script>