<template>
    <svg height="32px" version="1.1" viewBox="0 0 32 32" width="32px" xmlns="http://www.w3.org/2000/svg"
         xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="2">
            <g fill="#868686">
                <path d="M22.4432278,12.1503345 L11.1570131,23.4499064 L11.1570131,23.4499064 L8.55144652,20.8443397 L19.8435383,9.55064513 L22.4432278,12.1503345 L22.4432278,12.1503345 Z M23.1499164,11.4428096 L24.8790954,9.71158405 C25.269069,9.32114892 25.266195,8.68650423 24.8743,8.29568497 L23.6944866,7.11910998 C23.3018646,6.72756564 22.6692577,6.72452466 22.2779126,7.11592531 L20.5505949,8.84348817 L23.1499164,11.4428096 L23.1499164,11.4428096 Z M7.9037061,21.6108129 L7.26416016,24.7235103 L10.3990645,24.1061713 L7.9037061,21.6108129 L7.9037061,21.6108129 L7.9037061,21.6108129 Z M7,21 L6,26 L11,25 L25.5801067,10.4198932 C26.3642921,9.63570785 26.3661881,8.36618809 25.5897496,7.58974962 L24.4102504,6.41025036 C23.6313906,5.6313906 22.372781,5.62721897 21.5801067,6.41989327 L7,21 L7,21 Z"/>
            </g>
        </g>
    </svg>
</template>