<template>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="45" height="32" viewBox="0 0 45 32">
        <path d="M8.671 14.852v-4.94h2.602c0.941 0 1.425 0.602 1.425 1.258 0 0.624-0.387 1.037-0.849 1.134 0.527 0.081 0.946 0.591 0.946 1.215 0 0.742-0.495 1.333-1.435 1.333h-2.688zM11.622 11.358c0-0.312-0.22-0.543-0.575-0.543h-1.317v1.075h1.317c0.355 0 0.575-0.226 0.575-0.532zM11.718 13.369c0-0.312-0.22-0.575-0.64-0.575h-1.355v1.15h1.355c0.403 0 0.64-0.215 0.64-0.575z"></path>
        <path d="M17.287 14.852v-4.94h2.602c0.941 0 1.425 0.602 1.425 1.258 0 0.624-0.387 1.037-0.849 1.134 0.527 0.081 0.946 0.591 0.946 1.215 0 0.742-0.495 1.333-1.435 1.333h-2.688zM20.233 11.358c0-0.312-0.22-0.543-0.575-0.543h-1.317v1.075h1.317c0.355 0 0.575-0.226 0.575-0.532zM20.33 13.369c0-0.312-0.22-0.575-0.64-0.575h-1.355v1.15h1.355c0.403 0 0.64-0.215 0.64-0.575z"></path>
        <path d="M25.668 12.385c0-1.489 1.091-2.553 2.58-2.553 1.494 0 2.586 1.064 2.586 2.553 0 0.699-0.237 1.306-0.645 1.747l1.011 1.021h-1.381l-0.398-0.457c-0.349 0.156-0.742 0.242-1.172 0.242-1.494 0.005-2.58-1.064-2.58-2.553zM28.764 13.928l-0.543-0.64 0.726-0.602 0.548 0.645c0.161-0.269 0.253-0.591 0.253-0.946 0-0.925-0.591-1.623-1.505-1.623s-1.494 0.699-1.494 1.623c0 0.919 0.586 1.623 1.494 1.623 0.188 0 0.355-0.032 0.521-0.081z"></path>
        <path d="M35.134 14.336c0-0.328 0.274-0.602 0.602-0.602s0.602 0.274 0.602 0.602c0 0.328-0.274 0.602-0.602 0.602-0.328-0.005-0.602-0.28-0.602-0.602z"></path>
        <path d="M8.337 22.168l0.57-0.801c0.349 0.366 0.887 0.667 1.57 0.667 0.575 0 0.86-0.269 0.86-0.548 0-0.876-2.844-0.274-2.844-2.134 0-0.822 0.71-1.505 1.876-1.505 0.785 0 1.435 0.237 1.924 0.688l-0.586 0.769c-0.398-0.371-0.935-0.543-1.435-0.543-0.452 0-0.704 0.199-0.704 0.495 0 0.785 2.838 0.258 2.838 2.102 0 0.903-0.645 1.586-1.978 1.586-0.946 0.011-1.629-0.306-2.091-0.774z"></path>
        <path d="M20.228 22.862l-0.306-0.839h-2.118l-0.312 0.839h-1.199l1.914-4.94h1.317l1.903 4.94h-1.199zM18.868 18.975l-0.769 2.129h1.543l-0.774-2.129z"></path>
        <path d="M25.592 22.862v-4.94h1.054v4.015h2.091v0.925h-3.145z"></path>
        <path d="M33.166 22.862v-4.94h3.494v0.925h-2.446v1.043h2.392v0.925h-2.392v1.118h2.446v0.925h-3.494z"></path>
        <path d="M39.23 27.474h-29.549v-2.322h1.199v1.123h27.151v-18.61h-27.151v1.172h-1.199v-2.376h29.549z"></path>
        <path d="M35.575 25.582h-29.549v-21.013h29.549v2.322h-1.199v-1.118h-27.151v18.61h27.151v-1.812h1.199z"></path>
    </svg>
</template>