<template>
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px">
        <g data-name="15" id="_15">
            <path fill="#ffffff"
                  d="M21,8H16V4a3,3,0,0,0-3-3H9V8H8V7H0V23H8V22H21a3,3,0,0,0,3-3V11A3,3,0,0,0,21,8Zm1,11a1,1,0,0,1-1,1H8V10h3V3h2a1,1,0,0,1,1,1v6h7a1,1,0,0,1,1,1Z"/>
        </g>
    </svg>
</template>