<template>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path d="M16 1.231c-8.144 0-14.769 6.625-14.769 14.769s6.625 14.769 14.769 14.769 14.769-6.625 14.769-14.769-6.625-14.769-14.769-14.769zM16 28.923c-7.126 0-12.923-5.797-12.923-12.923s5.797-12.923 12.923-12.923 12.923 5.797 12.923 12.923-5.797 12.923-12.923 12.923z"></path>
        <path d="M16.334 7.231h-3.754c-0.51 0-0.923 0.413-0.923 0.923v6.923h-1.12c-0.51 0-0.923 0.413-0.923 0.923s0.413 0.923 0.923 0.923h1.12v1.231h-1.12c-0.51 0-0.923 0.413-0.923 0.923s0.413 0.923 0.923 0.923h1.12v3.846c0 0.51 0.413 0.923 0.923 0.923s0.923-0.413 0.923-0.923v-3.846h3.518c0.51 0 0.923-0.413 0.923-0.923s-0.413-0.923-0.923-0.923h-3.518v-1.231h2.831c3.337 0 6.052-2.174 6.052-4.846s-2.715-4.846-6.052-4.846zM16.334 15.077h-2.831v-6h2.831c2.319 0 4.206 1.346 4.206 3s-1.887 3-4.206 3z"></path>
    </svg>
</template>