<template>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path d="M29.333 26.667h-26.667c-1.471 0-2.667-1.196-2.667-2.667v-16c0-1.471 1.196-2.667 2.667-2.667h26.667c1.471 0 2.667 1.196 2.667 2.667v16c0 1.471-1.196 2.667-2.667 2.667zM2.667 6.667c-0.735 0-1.333 0.598-1.333 1.333v16c0 0.735 0.598 1.333 1.333 1.333h26.667c0.735 0 1.333-0.598 1.333-1.333v-16c0-0.735-0.598-1.333-1.333-1.333h-26.667z"></path>
        <path d="M16 19.461l-11.695-7.567c-0.309-0.201-0.398-0.613-0.198-0.922s0.613-0.397 0.922-0.198l10.971 7.099 10.971-7.099c0.309-0.199 0.722-0.111 0.922 0.198s0.111 0.721-0.198 0.922l-11.695 7.567z"></path>
        <path d="M4.001 22.667c-0.215 0-0.427-0.104-0.555-0.297-0.205-0.307-0.122-0.72 0.185-0.925l6-4c0.307-0.205 0.721-0.122 0.925 0.185s0.122 0.72-0.185 0.925l-6 4c-0.114 0.075-0.243 0.112-0.369 0.112z"></path>
        <path d="M27.999 22.667c-0.127 0-0.255-0.037-0.369-0.112l-6-4c-0.307-0.205-0.389-0.618-0.185-0.925s0.617-0.389 0.925-0.185l6 4c0.307 0.205 0.389 0.618 0.185 0.925-0.128 0.193-0.34 0.297-0.555 0.297z"></path>
    </svg>
</template>