<template>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <title>map</title>
        <path d="M30.714 2.005l-9.058 3.623-11.051-3.643c-0.214-0.071-0.448-0.058-0.642 0.020l-9.375 3.75c-0.356 0.142-0.589 0.487-0.589 0.87v22.5c0 0.666 0.674 1.115 1.286 0.87l9.058-3.623 11.046 3.642c0.051 0.017 0.047 0.014 0.084 0.024 0.063 0 0.262 0.079 0.566-0.044l9.371-3.748c0.356-0.142 0.589-0.487 0.589-0.87v-22.5c-0-0.662-0.67-1.117-1.286-0.87zM9.375 24.74l-7.5 3v-20.481l7.5-3v20.481zM20.75 17.608c-0.011-0.001-0.021-0.003-0.032-0.004-0.515-0.040-1.011-0.16-1.476-0.357-0.477-0.202-1.027 0.020-1.229 0.497s0.020 1.027 0.497 1.229c0.918 0.389 1.935 0.531 2.24 0.497v8.359l-9.5-3.132v-11.542c0.26 0.006 0.519 0.032 0.772 0.081 0.509 0.098 1-0.236 1.097-0.744s-0.236-1-0.744-1.097c-0.369-0.071-0.747-0.109-1.125-0.115v-7.108l9.5 3.132v10.305zM30.125 24.74l-7.5 3v-20.481l7.5-3v20.481z"></path>
        <path d="M5.28 17.971c-0.491-0.164-1.022 0.102-1.186 0.593l-0.296 0.889c-0.164 0.491 0.102 1.022 0.593 1.186s1.022-0.101 1.186-0.593l0.296-0.889c0.164-0.491-0.102-1.022-0.593-1.186z"></path>
        <path d="M7.823 13.207c-0.375-0.357-0.969-0.341-1.325 0.034-0.489 0.515-0.888 1.112-1.185 1.776-0.212 0.473-0 1.027 0.472 1.239s1.027 0 1.239-0.472c0.211-0.47 0.491-0.891 0.834-1.252 0.357-0.375 0.341-0.969-0.034-1.325z"></path>
        <path d="M17.063 15.244c-0.154-0.289-0.408-0.952-1.050-1.721-0.332-0.397-0.923-0.45-1.321-0.118s-0.45 0.923-0.118 1.321c0.479 0.572 0.636 1.027 0.834 1.399 0.243 0.457 0.811 0.63 1.268 0.387s0.63-0.811 0.387-1.268z"></path>
        <path d="M26.052 15.713c-0.41-0.316-0.999-0.241-1.315 0.169-0.307 0.398-0.679 0.737-1.105 1.009-0.436 0.278-0.565 0.858-0.286 1.295s0.858 0.565 1.295 0.286c0.609-0.389 1.141-0.875 1.581-1.445 0.316-0.41 0.241-0.999-0.169-1.315z"></path>
        <path d="M27.642 11.372c-0.485-0.182-1.025 0.064-1.207 0.549l-0.329 0.878c-0.229 0.612 0.224 1.267 0.878 1.267 0.38 0 0.737-0.232 0.878-0.609l0.329-0.878c0.182-0.485-0.064-1.025-0.549-1.207z"></path>
    </svg>
</template>