<template>

    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px">
        <g data-name="16" id="_16">
            <path fill="#ffffff"
                  d="M21,2H8V1H0V17H8V16H9v7h4a3,3,0,0,0,3-3V16h5a3,3,0,0,0,3-3V5A3,3,0,0,0,21,2Zm1,11a1,1,0,0,1-1,1H14v6a1,1,0,0,1-1,1H11V14H8V4H21a1,1,0,0,1,1,1Z"/>
        </g>
    </svg>
</template>