<template>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path d="M16 32c1.76 0 3.2-1.44 3.2-3.2h-6.4c0 1.76 1.44 3.2 3.2 3.2zM26.4 22.4v-8.8c0-4.96-3.36-8.96-8-10.080v-1.12c0-1.28-1.12-2.4-2.4-2.4s-2.4 1.12-2.4 2.4v1.12c-4.64 1.12-8 5.12-8 10.080v8.8l-3.2 3.2v1.6h27.2v-1.6l-3.2-3.2zM23.2 24h-14.4v-10.4c0-4 3.2-7.2 7.2-7.2s7.2 3.2 7.2 7.2v10.4z"></path>
    </svg>
</template>