<template>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path d="M24.32 7.808c-0.192-0.256-0.576-0.256-0.768 0l-14.912 14.848c-0.192 0.192-0.576 0.192-0.768 0l-6.336-6.336c-0.192-0.192-0.576-0.192-0.768 0s-0.192 0.576 0 0.768l7.104 7.104c0.192 0.192 0.576 0.192 0.768 0l15.68-15.616c0.192-0.192 0.192-0.576 0-0.768z"></path>
        <path d="M31.232 7.744c-0.192-0.192-0.512-0.192-0.768 0l-15.68 15.744c-0.192 0.192-0.192 0.512 0 0.768 0.192 0.192 0.512 0.192 0.768 0l15.68-15.68c0.192-0.256 0.192-0.576 0-0.832z"></path>
    </svg>
</template>