<template>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
        <path d="M31.177 23.602l-3.978-3.978c-1.097-1.097-2.881-1.097-3.978 0l-1.808 1.808c-0.831 0.831-2.183 0.831-3.013 0l-7.838-7.844c-0.833-0.833-0.833-2.181 0-3.014 0.291-0.291 1.128-1.128 1.808-1.808 1.092-1.092 1.107-2.871-0.001-3.979l-3.977-3.965c-1.097-1.097-2.881-1.097-3.975-0.003-0.819 0.811-1.083 1.073-1.45 1.437-3.955 3.955-3.955 10.39-0 14.345l12.418 12.425c3.964 3.964 10.381 3.965 14.345 0l1.447-1.447c1.097-1.097 1.097-2.881 0-3.978zM5.74 2.149c0.366-0.366 0.96-0.366 1.327 0.001l3.977 3.965c0.366 0.366 0.366 0.96 0 1.326l-0.663 0.663-5.301-5.301 0.66-0.654zM16.711 27.701l-12.418-12.425c-3.060-3.060-3.228-7.865-0.517-11.125l5.285 5.285c-1.389 1.574-1.331 3.973 0.174 5.478l7.837 7.844c0 0 0 0 0 0 1.503 1.503 3.902 1.565 5.479 0.174l5.285 5.285c-3.25 2.706-8.044 2.564-11.125-0.517zM29.851 26.254l-0.663 0.663-5.304-5.304 0.663-0.663c0.366-0.366 0.96-0.366 1.326 0l3.978 3.978c0.366 0.366 0.366 0.96 0 1.326z"></path>
    </svg>
</template>