<template>
    <div class="f-svg" @click="$emit('send')">
        <svg enable-background="new 0 0 32 32" height="32px" id="Layer_1" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g>
        <g>
        <path d="M1.911,16.179c-1.084,0.568-1.039,1.4,0.098,1.852l3.364,1.331c1.137,0.449,2.856,0.204,3.821-0.55    L23.806,7.289c0.961-0.757,1.064-0.645,0.229,0.249L12.483,19.902c-0.837,0.892-0.59,1.984,0.55,2.425l0.394,0.154    c1.14,0.44,3,1.182,4.132,1.642l3.732,1.521c1.133,0.46,2.06,0.842,2.062,0.849c0.001,0.007,0.006,0.028,0.012,0.03    s0.273-0.962,0.594-2.141l5.688-20.908c0.321-1.18-0.302-1.681-1.385-1.113L1.911,16.179z"
              fill="#515151"/>
        </g>
        <g>
            <path d="M11.146,29.864c-0.067,0.199,2.301-3.429,2.301-3.429c0.669-1.022,0.29-2.241-0.842-2.703l-2.582-1.058    c-1.132-0.463-1.674,0.08-1.205,1.212C8.818,23.887,11.214,29.66,11.146,29.864z"
                  fill="#515151"/>
        </g>
    </g>
</svg>
    </div>
</template>