<template>
    <div class="chat-bq" @click="openChat"
         :class="{'closed-bq' : isChatClosed,'left-pos-bq' : isLeftPosition, 'mobile-bq' : isMobilePortrait || isMobileLandscape, 'mobile-portrait-bq':isMobilePortrait, 'mobile-landscape-bq':isMobileLandscape}">
        <popup-ask></popup-ask>
        <greetings>
            <div class="inputs-bq" @click="closeGreetings">
                <input type="text" name="message" value="" placeholder="Введите сообщение и нажмите Enter" class="text-bq"
                       @focus="closeGreetings">
                <input style="z-index: 9999" type="submit" value="" class="submit-bq">
                <div class="f-svg"></div>
            </div>
        </greetings>

        <div class="wrap-bq">
            <div class="main-bq">
                <operator>
                    <span @click="closeChat" class="btn-bq"></span>
                </operator>
                <div class="wrap-content-bq">
                    <div class="content-bq">
                        <message-log></message-log>
                        <div class="bottom-bq">
                            <operator-is-writting></operator-is-writting>
                            <div class="wrap-form-bq">
                                <default-input>
                                    <input autocomplete="off" type="text" @keyup.enter.trim="addMessage" name="message"
                                           v-model="currentMessage" placeholder="Введите сообщение и нажмите Enter"
                                           class="text-bq">
                                    <input type="submit" @click.trim="addMessage" value="" class="submit-bq">
                                </default-input>
                                <name-input v-on:send="nameMaskCheck">
                                    <input autocomplete="off" type="text" name="name" value="" placeholder="Имя" maxlength="50"
                                           class="name-input-bq text-bq" @keyup.enter.trim="nameMaskCheck"
                                           v-model="currentMessage">
                                    <input type="submit" value="" class="submit-bq" @click="nameMaskCheck">
                                </name-input>
                                <phone-input>
                                    <input autocomplete="off" type="tel"
                                           v-mask="{mask: '+7 (999) 999 99 99', greedy: true, placeholder : '_'}"
                                           v-on:change="phoneMaskCheck" v-model="currentMessage"
                                           @keyup.enter.trim="phoneMaskCheck" name="phone"
                                           placeholder="+7 (000) 000 00 00"
                                           class="text-bq phone-input-bq">
                                    <input type="submit" value="" class="submit-bq" @click="phoneMaskCheck">
                                </phone-input>
                                <location-input>
                                    <input autocomplete="off" type="text" @keyup.enter.trim="addMessage" name="location"
                                           v-model="currentMessage" value=""
                                           placeholder="Город" maxlength="200" class="text-bq">
                                    <input type="submit" value="" class="submit-bq" @click="addMessage">
                                </location-input>
                                <email-input>
                                    <input autocomplete="off" type="text"
                                           v-mask="{mask: '*{3,20}@*{2,20}[.*{2,6}]', greedy: true, placeholder : '_'}"
                                           v-on:change="emailMaskCheck" name="email" value=""
                                           @keyup.enter.trim="emailMaskCheck" v-model="currentMessage"
                                           placeholder="Е-mail" class="email-input-bq text-bq">
                                    <input type="submit" value="" class="submit-bq" @click="emailMaskCheck">
                                </email-input>
                                <budget-input>
                                    <input autocomplete="off" type="text" value="" @keyup.enter.trim="addMessage" name="budget"
                                           v-model="currentMessage"
                                           placeholder="Бюджет" maxlength="200" class="budget-input-bq text-bq">
                                    <input type="submit" value="" class="submit-bq" @click="addMessage">
                                </budget-input>
                                <date-input>
                                    <input autocomplete="off" type="text" name="location" value="" @keyup.enter.trim="addMessage"
                                           v-model="currentMessage"
                                           placeholder="Дата" maxlength="200" class="period-input-bq text-bq">
                                    <input type="submit" value="" class="submit-bq">
                                </date-input>
                            </div>
                        </div>
                    </div>

                    <agreements-link></agreements-link>
                </div>
            </div>
        </div>
        <terms-and-conditions></terms-and-conditions>

        <help>
            <template slot="discard">
                <div class="close-help-bq" @click="closeHelpPopUp">
                    <icon-cancel></icon-cancel>
                </div>
            </template>

            <div class="yes-bq">Да</div>
            <div class="no-bq" @click="closeHelpPopUp">Нет</div>
        </help>
        <audio-source :src="audioSource"></audio-source>
    </div>
</template>

<script>
    import TermsAndConditions from './components/TermsAndConditions'
    import AgreementsLink from './components/AgreementsLink'
    import Operator from "./components/Operator";
    import OperatorIsWritting from "./components/OperatorIsWritting";
    import PopupAsk from "./components/PopupAsk";
    import Greetings from "./components/Greetings";
    import MessageLog from './components/MessagesLog'
    import Help from './components/Help'
    import AudioSource from './components/AudioSource'
    import PhoneInput from './components/PhoneInput'
    import EmailInput from './components/EmailInput'
    import DateInput from './components/DateInput'
    import LocationInput from './components/LocationInput'
    import NameInput from './components/NameInput'
    import BudgetInput from './components/BudgetInput'
    import DefaultInput from './components/DefaultInput'

    import scheduler from './services/scheduler'
    import messages from './services/messages'
    import chat from './services/chat'
    import utils from './utils'

    import IconCancel from './components/icons/IconCancel'

    //constants
    import {ADD_MESSAGE} from "./const";
    import {ONE_SECOND} from "./const";
    import {OPERATOR_CONNECTED} from "./const";
    import {CLOSE_WIDGET} from "./const";
    import {OPEN_WIDGET} from "./const";
    import {MARK_USER_AS_READ} from "./const";
    import {MARK_BOT_AS_READ} from "./const";
    import {CLOSE_HELP_POPUP} from "./const";
    import {IS_LOADED} from "./const";
    import {NEW_INSTANCE} from "./const";
    import {OPEN_HELP_POPUP} from "./const";
    import {CURRENT_STEP} from "./const";
    import {OPEN_REVIEWS} from "./const";
    import {COLLECTED_DATA_STORE} from "./const";
    import {CURRENT_RESPONSE} from "./const";

    import {INTERVAL_OPERATOR_WRITE} from './const';
    import {INTERVAL_OPERATOR_WROTE} from './const';
    import {INTERVAL_USER_HAS_READ} from './const';
    import {INTERVAL_OPEN_HELP_POPUP} from './const';
    import {INTERVAL_OPERATOR_CONNECT} from './const';
    import {INTERVAL_BEFORE_CONNECT} from './const';
    import {INTERVAL_REMINDER_RETURN_WAIT} from './const';
    import {INTERVAL_REMINDER_RETURN_SHOW} from './const';
    import {interval} from './const';

    export default {
        name: 'app',
        components: {
            IconCancel,
            PhoneInput,
            DateInput,
            EmailInput,
            DefaultInput,
            LocationInput,
            BudgetInput,
            NameInput,
            Operator,
            TermsAndConditions,
            OperatorIsWritting,
            PopupAsk,
            Greetings,
            MessageLog,
            AgreementsLink,
            Help,
            AudioSource
        },

        mounted() {
            window.yandexGoals = {
                mouseOver: true,
                popupGreeting: true,
                Push_Chat_Popup_Cross: true,
                Push_Chat_Avatar: true,
                Push_Chat_Body: true,
                Fill_Chat_Desc: true,
                Fill_Chat_Tel: true,
                Fill_Chat_Name: true,
                Fill_Chat_Geo: true,
                Push_Chat_Minimize: true,
                Push_Chat_Politics: true,
                Push_BigPopup_Cross: true,
                Push_BigPopup_Yes: true,
                Push_BigPopup_No: true,
            };

            $(this.$el).on('mouseover', '.main-bq', function () {
                if (window.yandexGoals.mouseOver) {
                    window.ym(53445169, 'reachGoal', 'MouseOver_Chat');
                    window.yandexGoals.mouseOver = false;
                }
            });
            $(this.$el).on('click', '.popup-greeting-bq', function () {
                if (window.yandexGoals.popupGreeting) {
                    window.ym(53445169, 'reachGoal', 'Push_Chat_Popup');
                    window.yandexGoals.popupGreeting = false;
                }
            });
            $(document).on('click', '.popup-greeting-bq__close', function () {
                if (window.yandexGoals.Push_Chat_Popup_Cross) {
                    window.ym(53445169, 'reachGoal', 'Push_Chat_Popup_Cross');
                    window.yandexGoals.Push_Chat_Popup_Cross = false;
                }
            });
            $(this.$el).on('click', '.icon-bq', function () {
                if (window.yandexGoals.Push_Chat_Avatar) {
                    window.ym(53445169, 'reachGoal', 'Push_Chat_Avatar');
                    window.yandexGoals.Push_Chat_Avatar = false;
                }
            });
            $(this.$el).on('click', '.greeting-bq', function () {
                if (window.yandexGoals.Push_Chat_Body  && $(this).val() != 'Здравствуйте, ') {
                    window.ym(53445169, 'reachGoal', 'Push_Chat_Body');
                    window.yandexGoals.Push_Chat_Body = false;
                }
            });
            // $(this.$el).on('focusout', '.msg-form-bq input', function () {
            //     if (window.yandexGoals.Fill_Chat_Desc && $(this).val() && $(this).val() != 'Здравствуйте, ') {
            //         window.ym(53445169, 'reachGoal', 'Fill_Chat_Desc');
            //         window.yandexGoals.Fill_Chat_Desc = false;
            //     }
            // });
            // $(this.$el).on('focusout', '.phone-form-bq input', function () {
            //     if (window.yandexGoals.Fill_Chat_Tel  && $(this).val() && $(this).val() != 'Здравствуйте, ') {
            //         window.ym(53445169, 'reachGoal', 'Fill_Chat_Tel');
            //         window.yandexGoals.Fill_Chat_Tel = false;
            //     }
            // });
            // $(this.$el).on('focusout', '.name-form-bq input', function () {
            //     if (window.yandexGoals.Fill_Chat_Name  && $(this).val() && $(this).val() != 'Здравствуйте, ') {
            //         window.ym(53445169, 'reachGoal', 'Fill_Chat_Name');
            //         window.yandexGoals.Fill_Chat_Name = false;
            //     }
            // });
            // $(this.$el).on('focusout', '.location-form-bq input', function () {
            //     if (window.yandexGoals.Fill_Chat_Geo  && $(this).val() && $(this).val() != 'Здравствуйте, ') {
            //         window.ym(53445169, 'reachGoal', 'Fill_Chat_Geo');
            //         window.yandexGoals.Fill_Chat_Geo = false;
            //     }
            // });
            $(this.$el).on('click', '.btn-bq', function () {
                if (window.yandexGoals.Push_Chat_Minimize) {
                    window.ym(53445169, 'reachGoal', 'Push_Chat_Minimize');
                    window.yandexGoals.Push_Chat_Minimize = false;
                }
            });
            $(this.$el).on('click', '.open-pop-bq', function () {
                if (window.yandexGoals.Push_Chat_Politics) {
                    window.ym(53445169, 'reachGoal', 'Push_Chat_Politics');
                    window.yandexGoals.Push_Chat_Politics = false;
                }
            });
            $(this.$el).on('click', '.close-help-bq', function () {
                if (window.yandexGoals.Push_BigPopup_Cross) {
                    window.ym(53445169, 'reachGoal', 'Push_BigPopup_Cross');
                    window.yandexGoals.Push_BigPopup_Cross = false;
                }
            });
            $(this.$el).on('click', '.yes-bq', function () {
                if (window.yandexGoals.Push_BigPopup_Yes) {
                    window.ym(53445169, 'reachGoal', 'Push_BigPopup_Yes');
                    window.yandexGoals.Push_BigPopup_Yes = false;
                }
            });
            $(this.$el).on('click', '.no-bq', function () {
                if (window.yandexGoals.Push_BigPopup_No) {
                    window.ym(53445169, 'reachGoal', 'Push_BigPopup_No');
                    window.yandexGoals.Push_BigPopup_No = false;
                }
            });






















            chat.scrollDown();
            this.currentStep = this.$store.getters.currentStep;
            this.collectedData = this.$store.getters.collectedData;
            this.currentResponse = this.$store.getters.currentResponse;
            let vm2 = this;
            if (this.currentResponse.result !== undefined) {
                scheduler.on('undo')
                    .do(chat.disableInput)
                    .do(this.operatorStartWrite)
                    .wait(interval(36, 46) * 200)
                    .do(function () {
                        vm2.resolveMessages(vm2.currentResponse)
                    })
                    .do(this.operatorEndWrite)
                    .do(function () {
                        vm.currentResponse = {};
                        vm.$store.commit(CURRENT_RESPONSE, {})
                    })
                    .do(chat.enableInput)
                    .do(chat.scrollDown)
            } else {
                switch (this.currentStep) {
                    case 'location':
                        chat.openLocation();
                        chat.focusInput();
                        break;
                    case 'phone-number':
                        chat.openPhone();
                        chat.focusInput();
                        break;
                    case 'name':
                        chat.openName();
                        chat.focusInput();
                        break;
                    default: {
                        // chat.openMainInput();
                    }
                }
            }


            if(vm2.$store.getters.isFirstMessage){
                scheduler
                    .on('behavior')
                    .do(this.operatorStartWrite)
                    .wait(interval(11, 16) * 200)
                    .do(this.operatorHasWrittenFirstMessage)
                    .do(function(){
                        vm.$store.commit('end_write_first_message')
                    })
                    .do(this.openGreetings)

                    //delay between first two messages
                    .wait(interval(500, ONE_SECOND))

                    //write second message
                    .do(this.operatorStartWrite)
                    .do(function(){
                        vm.$store.commit('start_write_second_message')
                    })
                    // .wait(interval(500,INTERVAL_OPERATOR_WRITE * ONE_SECOND))
                    // .wait(interval(72, 91) * 200)
                    .wait(interval(36, 46) * 200)
                    .do(this.operatorHasWrittenSecondMessage)
                    .do(this.operatorEndWrite)
                    .do(function(){
                        vm.$store.commit('end_write_second_message')
                    })
                    .do(function(){
                        vm.currentMessage = 'Здравствуйте, ';
                    })
                    .do(chat.enableInput);

            } else if(vm2.$store.getters.isSecondMessage){
                scheduler
                    .on('behavior')
                    //write second message
                    .do(this.operatorStartWrite)
                    .wait(interval(18, 23) * 200)
                    .do(this.operatorHasWrittenSecondMessage)
                    .do(this.operatorEndWrite)
                    .do(function(){
                        vm.$store.commit('end_write_second_message')
                    })
                    .do(function(){
                        vm.currentMessage = 'Здравствуйте, ';
                    })
                    .do(chat.enableInput);
            }
















            //new js
            if($(window).width() < 992) {
                if($('meta[name="viewport"]').length) {
                    $('meta[name="viewport"]').remove();
                    $('head').append('<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">');
                };
            }
            //end new js
            this.$store.commit('reset_chat_minutes');
            $(this.$el).find('.chat-bq .yes-bq').on('click', function(){
               $('.chat-bq').click();
            });
            utils.inlineStyle(this.leftPadding, this.rightPadding, this.verticalPadding);

            chat.onLoad(this);
            chat.onBeforeLoad(this);
            chat.onUnLoad(this);
            this.$store.commit(NEW_INSTANCE);

            if (this.isAutoRun && !this.isLoaded) {
                this.$store.commit(IS_LOADED);
                scheduler
                    .on('behavior')
                    .do(chat.reset) //reset chat
                    .wait(INTERVAL_BEFORE_CONNECT * ONE_SECOND); //wait for connection
                this.initOperator();

                let $vm = this;
                scheduler
                    .on('help')
                    .wait(INTERVAL_OPEN_HELP_POPUP * ONE_SECOND +  INTERVAL_BEFORE_CONNECT * ONE_SECOND)
                    .do(() => {
                        if($vm.$store.getters.isNotCollectedMinimalData) {
                            $vm.$store.dispatch(OPEN_HELP_POPUP);
                        }
                    });
            }

            if(!this.isAutoRun && !this.isLoaded){
                let $vm = this;
                scheduler
                    .on('help')
                    .wait(INTERVAL_OPEN_HELP_POPUP * ONE_SECOND)
                    .do(() => {
                        if($vm.$store.getters.isNotCollectedMinimalData) {
                            $vm.$store.dispatch(OPEN_HELP_POPUP);
                        }
                    });
            }

            let $input = $('input:not(.submit-bq)');
            $input.on('focusin', function(){
                var $form_parent = $('.wrap-form-bq');
                $form_parent.addClass('focused-bq');

                if ($(window).innerWidth() <= 414 || $(window).innerHeight() <= 414) {
                    $('.chat-bq').addClass('static');
                } else {
                    $('.chat-bq').removeClass('static');
                }
            }).on('focusout', function(){
                var $form_parent = $('.wrap-form-bq');
                $form_parent.removeClass('focused-bq');
                if ($(window).innerWidth() <= 414 || $(window).innerHeight() <= 414) {
                    $('.chat-bq').removeClass('static');
                }
            });

            let vm = this;
            let bind_resize_window = function() {
                var blocks = [
                    $('.chat-bq'),
                    $('.content-bq'),
                    $('.top-bq'),
                    $('.message-bq'),
                    $('.bottom-bq'),
                    $('.footer-bq'),
                    $('.header-bq'),
                    $('.wrap-form-bq'),
                    $(window)
                ];

                var blocksInfo = {};

                for(var block in blocks) {
                    if(blocks.hasOwnProperty(block)) {
                        var key = typeof blocks[block][0]['classList'] !== 'undefined' ? blocks[block][0]['classList'][0] : 'window';
                        // var key = 'window';

                        blocksInfo[key] = {
                            'jq' : blocks[block],
                            'height' :  blocks[block][0].clientHeight,
                            'width' :  blocks[block][0].clientWidth
                        };
                    }
                }

                var vars = blocksInfo;

                vars['top-bq'].jq.css({
                    'height': vars['content-bq'].height - vars['bottom-bq'].height
                });
                vars['message-bq'].jq.css({
                    'height': vars['content-bq'].height - vars['bottom-bq'].height
                });
                vars['content-bq'].jq.bind('DOMSubtreeModified', function() {
                    vars['message-bq'].jq.css({
                        'height': vars['content-bq'].height - vars['bottom-bq'].height
                    });
                });
                if(vars['window'].jq[0].innerWidth <= 414){
                    vm.isMobilePortrait = true;
                    vm.isMobileLandscape = false;
                    vars = blocksInfo;
                    vars['header-bq'].height = 58;
                    vars['footer-bq'].height = 41;
                    vars['chat-bq'].jq.addClass('mobile-bq');
                    vars['chat-bq'].jq.removeClass('mobile-landscape-bq').addClass('mobile-portrait-bq');

                    vars['footer-bq'].jq.show();
                    vars['content-bq'].jq.css({
                        'height': vars['window'].jq[0].innerHeight - (vars['header-bq'].height + vars['footer-bq'].height)
                    });
                    vars['top-bq'].jq.css({
                        'height': vars['window'].jq[0].innerHeight - (vars['header-bq'].height + vars['footer-bq'].height + $('.wrap-form-bq').outerHeight())
                    });
                    vars['message-bq'].jq.css({
                        'height': vars['window'].jq[0].innerHeight - (vars['header-bq'].height + vars['footer-bq'].height + $('.wrap-form-bq').outerHeight())
                    });
                    vars['content-bq'].jq.bind('DOMSubtreeModified', function() {
                        vars['message-bq'].jq.css({
                            'height': vars['window'].jq[0].innerHeight - (vars['header-bq'].height + vars['footer-bq'].height + $('.wrap-form-bq').outerHeight())
                        });
                    });
                    chat_bq.scroll_down();
                } else if (vars['window'].jq[0].innerHeight <= 414){
                    vm.isMobileLandscape = true;
                    vm.isMobilePortrait = false;
                    vars = blocksInfo;
                    vars['footer-bq'].height = 0;
                    vars['header-bq'].height = 58;
                    vars['chat-bq'].jq.removeClass('mobile-portrait-bq').addClass('mobile-landscape-bq');
                    vars['chat-bq'].jq.addClass('mobile-bq');
                    vars['footer-bq'].jq.hide();
                    vars['content-bq'].jq.css({
                        'height': vars['window'].jq[0].innerHeight - vars['header-bq'].height
                    });
                    vars['top-bq'].jq.css({
                        'height': vars['window'].jq[0].innerHeight - (vars['header-bq'].height + $('.wrap-form-bq').outerHeight())
                    });
                    vars['message-bq'].jq.css({
                        'height': vars['window'].jq[0].innerHeight - (vars['header-bq'].height + $('.wrap-form-bq').outerHeight())
                    });
                    vars['content-bq'].jq.bind('DOMSubtreeModified', function() {
                        var vars = blocksInfo;
                        vars['message-bq'].jq.css({
                            'height': vars['window'].jq[0].innerHeight - (vars['header-bq'].height + $('.wrap-form-bq').outerHeight())
                        });
                    });
                    chat_bq.scroll_down();
                }
            };

            bind_resize_window();
        },
        methods: {
            phoneMaskCheck(field) {
                if (field.target.inputmask === undefined) return;
                if (field.target.inputmask.isComplete()) {
                    if (utils.isValidPhoneNumber(this.currentMessage)) {
                        chat.closePhoneErrorMessage();
                        this.addMessage();
                    } else {
                        chat.openPhoneErrorMessage();
                    }
                } else {
                    chat.openPhoneErrorMessage();
                }
            },
            nameMaskCheck(field) {
                chat.closeNameErrorMessage();
                if (utils.isValidName(this.currentMessage)) {
                    chat.closeNameErrorMessage();
                    this.addMessage();
                } else {
                    chat.openNameErrorMessage();
                }
            },
            emailMaskCheck(field) {
                if (field.target.inputmask === undefined) return;
                if (field.target.inputmask.isComplete()) {
                    if (utils.isValidEmailAddress(this.currentMessage)) {
                        chat.closeEmailErrorMessage();
                        this.addMessage();
                    } else {
                        chat.openEmailErrorMessage();
                    }
                } else {
                    chat.openEmailErrorMessage();
                }
            },
            pushMessageByBot(text, category = 'unknown') {
                let message = {
                    author: 'bot',
                    has_read: !this.isWidgetClosed,
                    text: text,
                    isGreeting: true,
                    time: utils.time(),
                    category : category
                };
                chat.play();
                this.$store.dispatch(ADD_MESSAGE, message)
            },
            pushMessageByUser(text) {
                this.$store.dispatch(ADD_MESSAGE, {
                    author: 'user',
                    has_read: false,
                    text: text,
                    isGreeting: false,
                    time: utils.time()
                });
            },
            operatorStartConnect() {
                chat.operatorStartConnect();
            },
            operatorEndConnect() {
                this.$store.dispatch(OPERATOR_CONNECTED).then(() => {
                    chat.operatorEndConnect();
                });
            },
            operatorStartWrite() {
                chat.hideBell();
                chat.operatorStartWrite();
            },
            operatorEndWrite() {
                chat.operatorEndWrite();
                if (this.isWidgetClosed === true) {
                    chat.showBell()
                }
            },
            openGreetings() {
                if (this.isWidgetClosed === true) {
                    chat.openGreetings();
                }
            },
            closeGreetings() {
                chat.closeGreetings();
                this.$store.dispatch(OPEN_WIDGET);
                this.markUserAsRead();
            },
            operatorHasWrittenFirstMessage() {
                let message = this.greetings[window.chat_bq_conf.additional.CampaignID || '39cd64bf'][window.chat_bq_conf.operator.greetingMessage].first;
                this.pushMessageByBot(message, 'first_message');
                this.pushMessageByBot(message, 'first_message');
            },
            operatorHasWrittenSecondMessage() {
                let message = this.greetings[window.chat_bq_conf.additional.CampaignID || '39cd64bf'][window.chat_bq_conf.operator.greetingMessage].second;
                this.pushMessageByBot(message, 'second_message');
                this.pushMessageByBot(message, 'second_message');
            },
            operatorHasRead() {
                this.markBotAsRead();
            },
            markUserAsRead() {
                this.$store.dispatch(MARK_USER_AS_READ);
            },
            markBotAsRead() {
                this.$store.dispatch(MARK_BOT_AS_READ);
            },
            openChat(e) {
                if (
                    e.target.className === 'greeting-bq' 
                    || e.target.className === 'yes-bq' 
                    || e.target.className === 'operator' 
                    || e.target.className === 'header-bq' 
                    || e.target.className === 'pic-bq' 
                    || e.target.className === 'icon-bq'
                    || e.target.className === 'pic-load-bq'
                    || e.target.className === 'wrp-load-bq'
                    || e.target.className === 'icon-bq active-bq'
                    || e.target.className === 'icon-bq active-bq typing-bq'
                ) {
                    this.closeHelpPopUp();
                    chat.closeReminder();
                    this.$store.dispatch(OPEN_WIDGET);

                    this.markUserAsRead();

                    if (this.operatorIsConnected === false) {
                        // restart scheduler
                        scheduler
                            .on('behavior')
                            .cancel();

                            this.initOperator('new-queue');
                    }

                    this.closeGreetings();
                    scheduler
                        .on('reminder')
                        .cancel();
                    chat.open();
                }
            },
            closeChat() {
                this.$store.dispatch(CLOSE_WIDGET);
                chat.close();

                scheduler
                    .on('reminder')
                    .wait(INTERVAL_REMINDER_RETURN_WAIT * ONE_SECOND)
                    .do(chat.openReminder)
                    .wait(INTERVAL_REMINDER_RETURN_SHOW * ONE_SECOND)
                    .do(chat.closeReminder);
            },
            addMessage() {
                if (this.currentMessage) {
                    messages.push(this.currentMessage);
                    this.pushMessageByUser(this.currentMessage);
                    chat.disableInput();
                    this.currentMessage = '';
                    chat.openMainInput();
                    chat.scrollDown();

                    let vm = this;

                    let waitTime = 0;
                    let writeSpeed = 140;

                    switch (vm.currentStep){
                        case 'budget': waitTime = 32 * writeSpeed; break;
                        case 'date': waitTime = 85 * writeSpeed; break;
                        case 'location': waitTime = 33 * writeSpeed; break;
                        case 'phone-number': waitTime = 32 * writeSpeed; break;
                        case 'name': waitTime = 66 * writeSpeed; break;
                        case 'email': waitTime = 17 * writeSpeed; break;
                        case 'no-data': waitTime = 29 * writeSpeed; break;
                        default: waitTime = interval(12800, 15400); break;
                    }

                    scheduler
                        .on('answer')
                        .do(function () {
                            messages
                                .request(vm.currentStep, vm.collectedData)
                                .then(function (response) {
                                    vm.currentResponse = response;
                                    vm.$store.commit(CURRENT_RESPONSE, response);
                                })
                        })
                        // .wait(interval(500, INTERVAL_USER_HAS_READ * ONE_SECOND))//2s
                        .wait(500)//2s
                        .do(this.operatorHasRead)
                        // .wait(interval(500, INTERVAL_OPERATOR_WRITE * ONE_SECOND)) //1s
                        .wait(500) //1s
                        .do(this.operatorStartWrite)
                        // .wait(interval(600, 1000))//1s
                        .wait(waitTime)//1s
                        .do(function () {
                            vm.resolveMessages(vm.currentResponse);
                            // messages
                            //     .request(vm.currentStep, vm.collectedData)
                            //     .then(vm.resolveMessages);
                        })
                        .do(chat.scrollDown)
                        .do(this.operatorEndWrite)
                        .do(function(){
                            vm.currentResponse = {oops : 1};
                            vm.$store.commit(CURRENT_RESPONSE, {oops : 1});
                        })
                        .wait(200)
                        .do(chat.enableInput)
                    ;
                }
            },
            resolveMessages(response) {
                let vm = this;
                let data = response.result.parameters;

                let emptyResponse = false;
                if(window.chat_bq_conf.additional.CampaignID == '0ebfbec0'){//repair
                    vm.collectedData['type_of_flat'] = data.type_of_flat;
                    vm.collectedData['type_of_object'] = data.type_of_object;
                    vm.collectedData['type_of_repair'] = data.type_of_repair;
                }
                else if(window.chat_bq_conf.additional.CampaignID == '39cd64bf'){//building
                    vm.collectedData['type_of_building'] = data.type_of_building;
                    vm.collectedData['type_of_flat'] = data.type_of_flat;
                    vm.collectedData['type_of_object'] = data.type_of_object;
                }
                else if(window.chat_bq_conf.additional.CampaignID == '77f6e16f'){//design
                    vm.collectedData['type_of_service'] = data.type_of_service;
                    vm.collectedData['type_of_flat'] = data.type_of_flat;
                }
                else if(window.chat_bq_conf.additional.CampaignID == '9f266731'){//landscape
                    vm.collectedData['type_of_design'] = data.type_of_design;
                    vm.collectedData['type_of_work'] = data.type_of_work;
                }

                vm.collectedData['email'] = data.email;
                vm.collectedData['location'] = data.location;
                vm.collectedData['name'] = data.name;
                vm.collectedData['phone-number'] = data['phone-number'];

                if(data.consultation !== undefined && data.consultation.length !== 0){
                    vm.collectedData['consultation'] = 1;
                }

                if(window.chat_bq_conf.additional.CampaignID == '0ebfbec0'){//repair
                    emptyResponse =
                        vm.collectedData.type_of_flat == [] && vm.collectedData.type_of_object == [] && vm.collectedData.type_of_repair == [] ||
                        vm.collectedData.type_of_flat == undefined && vm.collectedData.type_of_object == undefined && vm.collectedData.type_of_repair == undefined;
                }
                else if(window.chat_bq_conf.additional.CampaignID == '39cd64bf'){//building
                    emptyResponse =
                        vm.collectedData.type_of_building == [] && vm.collectedData.type_of_flat == [] && vm.collectedData.type_of_object == [] ||
                        vm.collectedData.type_of_building == undefined && vm.collectedData.type_of_flat == undefined && vm.collectedData.type_of_object == undefined;
                }
                else if(window.chat_bq_conf.additional.CampaignID == '77f6e16f'){//design
                    emptyResponse =
                        vm.collectedData.type_of_service == [] && vm.collectedData.type_of_flat == [] ||
                        vm.collectedData.type_of_service == undefined && vm.collectedData.type_of_flat == undefined;
                }
                else if(window.chat_bq_conf.additional.CampaignID == '9f266731'){//landscape
                    emptyResponse =
                        vm.collectedData.type_of_design == [] && vm.collectedData.type_of_work == [] ||
                        vm.collectedData.type_of_design == undefined && vm.collectedData.type_of_work == undefined;
                }

                if(emptyResponse === false) {
                    if (vm.collectedData.firstMessage === '' || vm.collectedData.firstMessage === undefined) {
                        vm.collectedData.firstMessage = messages.get();
                    }
                }
                messages.clear();

                if(vm.collectedData.location != '' && vm.currentStep == 'name'){
                    vm.pushMessageByBot(vm.collectedData.name + ', благодарю за информацию! Ожидайте звонка в ближайшее время!')
                } else {
                    vm.pushMessageByBot(response.result.fulfillment.speech);
                }

                let step = vm.currentStep;

                if (emptyResponse) {
                    step = 'no-data';
                    chat.openMainInput();
                } else
                if (vm.collectedData['phone-number'] === '') {
                    step = 'phone-number';
                    setTimeout(function () {
                        chat.openPhone();
                        chat.scrollDown();
                        chat.focusInput();
                    }, 1000);
                }
                else if (vm.collectedData['name'] === '') {
                    step = 'name';

                    setTimeout(function () {
                        chat.openName();
                        chat.scrollDown();
                        chat.focusInput();
                    }, 1000);
                } else
                if (vm.collectedData.location === '') {
                    step = 'location';

                    setTimeout(function () {
                        chat.openLocation();
                        chat.scrollDown();
                        chat.focusInput();
                    }, 1000);
                }
                else {
                    step = 'no-data';
                    if(vm.collectedData.location !== ''){
                        vm.$store.commit(OPEN_REVIEWS);
                        chat.sendDataToServer(vm);
                        // step = 'end';
                    }
                    chat.openMainInput();
                }
                vm.currentStep = step;
                this.$store.commit(CURRENT_STEP, step);
                this.$store.commit(COLLECTED_DATA_STORE, vm.collectedData);
                chat.scrollDown();
                chat.focusInput();
            },
            initOperator( newQueue ) {
                let vm = this;
                chat.disableInput();
                scheduler
                    .on(newQueue || 'behavior')

                    //reset chat
                    .do(chat.reset)

                    //operator connect
                    .do(this.operatorStartConnect)
                    .wait(interval(2 * ONE_SECOND, INTERVAL_OPERATOR_CONNECT * ONE_SECOND))
                    .do(this.operatorEndConnect)

                    //operator is connected
                    .do(chat.operatorIsConnected)

                    //wait before start write
                    .wait(interval(500,INTERVAL_OPERATOR_WRITE * ONE_SECOND))

                    //write first part message
                    .do(this.operatorStartWrite)
                    .do(function(){
                        vm.$store.commit('start_write_first_message')
                    })
                    // .wait(interval(44, 66) * 200)
                    .wait(interval(22, 33) * 200)
                    // .wait(interval(ONE_SECOND,INTERVAL_OPERATOR_WRITE * ONE_SECOND))
                    .do(this.operatorHasWrittenFirstMessage)
                    .do(function(){
                        vm.$store.commit('end_write_first_message')
                    })
                    .do(this.openGreetings)

                    //delay between first two messages
                    .wait(interval(500, ONE_SECOND))

                    //write second message
                    .do(this.operatorStartWrite)
                    .do(function(){
                        vm.$store.commit('start_write_second_message')
                    })
                    // .wait(interval(500,INTERVAL_OPERATOR_WRITE * ONE_SECOND))
                    // .wait(interval(72, 91) * 200)
                    .wait(interval(36, 46) * 200)
                    .do(this.operatorHasWrittenSecondMessage)
                    .do(this.operatorEndWrite)
                    .do(function(){
                        vm.$store.commit('end_write_second_message')
                    })
                    .do(function(){
                        vm.currentMessage = 'Здравствуйте, ';
                    })
                    .do(chat.enableInput);
            },
            closeHelpPopUp() {
                this.$store.dispatch(CLOSE_HELP_POPUP)
            },
        },

        data() {
            return {
                isMobilePortrait : false,
                isMobileLandscape: false,
                currentMessage: '',
                collectedData: {},
                currentResponse: {},
                currentStep: '',
                greetings: {
                    //repair
                    '0ebfbec0' : {
                        1: {
                            first: 'Здравствуйте! Планируете ремонт? Сравните цены с нашими!',
                            second: 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        2: {
                            first : 'Здравствуйте! Планируете сантехнические работы? Сравните цены с нашими!',
                            second: 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        3: {
                            first: 'Здравствуйте! Планируете работы по кондиционированию и вентиляции? Сравните цены с нашими!',
                            second : 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        4: {
                            first: 'Здравствуйте! Планируете работы по отоплению? Сравните цены с нашими!',
                            second: 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        5: {
                            first : 'Здравствуйте! Планируете работы по отделке помещений? Сравните цены с нашими!',
                            second : 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        6: {
                            first : 'Здравствуйте! Планируете работы по демонтажу и вывоза мусора? Сравните цены с нашими!',
                            second: 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        }
                    },
                    //construction
                    '39cd64bf' : {
                        1: {
                            first : 'Здравствуйте! Планируете стройку? Сравните цены с нашими!',
                            second: 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        2: {
                            first : 'Здравствуйте! Планируете капитальное строительство? Сравните цены с нашими!',
                            second: 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        3: {
                            first : 'Здравствуйте! Планируете электромонтажные работы? Сравните цены с нашими!',
                            second: 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                    },
                    //design
                    '77f6e16f' : {
                        1: {
                            first:'Здравствуйте! Нужен дизайн или проектирование? Сравните цены с нашими!',
                            second :'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        2: {
                            first:'Здравствуйте! Планируете разработку дизайна интерьера? Сравните цены с нашими!',
                            second :'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        3: {
                            first:'Здравствуйте! Планируете работы по проектированию? Сравните цены с нашими!',
                            second :'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                    },
                    //landscaping
                    '9f266731' : {
                        1: {
                            first : 'Здравствуйте! Нужен ландшафтный дизайн или благоустройство территории? Сравните цены с нашими!',
                            second : 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        2: {
                            first : 'Здравствуйте! Планируете работы по ландшафтному дизайну? Сравните цены с нашими!',
                            second : 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                        3: {
                            first : 'Здравствуйте! Планируете работы по благоустройству территории? Сравните цены с нашими!',
                            second : 'Какие работы нужно выполнить? Напишите и мы рассчитаем их стоимость и сроки.'
                        },
                    }
                },
            };
        },

        computed: {
            currentDate() {
                return utils.date();
            },
            isChatClosed() {
                return this.$store.getters.isChatClosed;
            },
            isLeftPosition() {
                return this.$store.getters.isLeftPosition;
            },
            operatorIsConnected() {
                return this.$store.getters.operatorIsConnected;
            },
            isWidgetClosed() {
                return this.$store.getters.isWidgetClosed;
            },
            isAutoRun() {
                return this.$store.getters.isAutoRun;
            },
            isLoaded() {
                return this.$store.getters.isLoaded;
            },

            rightPadding() {
                if (this.isLeftPosition) {
                    return 'auto';
                }
                // return parseInt(window.chat_bq_conf.chat.padding.horizontal) + 20 +'px';
                return parseInt(window.chat_bq_conf.chat.padding.horizontal) +'px';
            },
            leftPadding() {
                if (!this.isLeftPosition) {
                    return 'auto';
                }
                // return parseInt(window.chat_bq_conf.chat.padding.horizontal) + 20 +'px';
                return parseInt(window.chat_bq_conf.chat.padding.horizontal) +'px';
            },
            verticalPadding(){
                // return parseInt(window.chat_bq_conf.chat.padding.vertical) +'px';
                return parseInt(window.chat_bq_conf.chat.padding.vertical) - 20 +'px';
            },

            audioSource(){
                return window.SERVER + '/assets/sounds/skayp-zvuk-novoe-soobshchenie-new-mail.mp3';
            }
        }
    }
</script>